<a href="https://colab.research.google.com/github/ttogle918/ds-section4-sprint2/blob/master/N421_count-based_representation/N421a_Count_based_Representation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 4 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

---


# Count-based_Representation

indeed.com ì—ì„œ Data Scientist í‚¤ì›Œë“œë¡œ Job descritionì„ ì°¾ì•„ ìŠ¤í¬ë˜í•‘í•œ ë°ì´í„°ë¥¼ ì´ìš©í•´ ê³¼ì œë¥¼ ì§„í–‰í•´ ë³´ê² ìŠµë‹ˆë‹¤.

[Data_Scienties.csv](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv) íŒŒì¼ì—ëŠ” 1300ì—¬ê°œì˜ Data Scientist job description ì •ë³´ê°€ ë‹´ê²¨ ìˆìŠµë‹ˆë‹¤.

## 1. ë°ì´í„° ì „ì²˜ë¦¬ (Text preprocessing)

In [1]:
import re
import string

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 0) í…ìŠ¤íŠ¸ ë¶„ì„ì— ì•ì„œ ë°ì´í„° ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.

- íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¨ í›„ title, company, description ì— í•´ë‹¹í•˜ëŠ” Columnë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”.
- ì¤‘ë³µê°’ì„ ì œê±°í•˜ì„¸ìš”.

In [2]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv')

In [3]:
df = df[['title', 'company', 'description']]
df.duplicated().sum()

543

In [4]:
df = df.drop_duplicates()
df.isna().sum()

title          0
company        0
description    0
dtype: int64

In [5]:
df.shape

(757, 3)

### 1) í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ í†µì¼
- ë¶„ì„ì— ê´€ë ¨ ì—†ëŠ” ì •ë³´ ì œê±°
- ì´ë²ˆ ê³¼ì œëŠ” `spacy` ë¡œë¶€í„° `"en_core_web_sm"` ì„ ë¡œë“œí•˜ì—¬ ì§„í–‰í•´ì£¼ì„¸ìš”.

- **ë¬¸í•­ 1) ëŒ€ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
- **ë¬¸í•­ 2) ì •ê·œ í‘œí˜„ì‹ì„ ì‚¬ìš©í•˜ì—¬ re ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì•ŒíŒŒë²³ ì†Œë¬¸ì, ìˆ«ìë§Œ ë°›ì„ ìˆ˜ ìˆëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.**

In [6]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load("en_core_web_sm")
tokenizer = Tokenizer(nlp.vocab)

In [7]:
def lower_and_regex(sentence):
    """
    ëª¨ë“  ëŒ€ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ ë³€ê²½ í›„
    ì •ê·œì‹ì„ ì´ìš©í•˜ì—¬ ì•ŒíŒŒë²³ ì†Œë¬¸ì ì´ì™¸ì˜ êµ¬ë‘ì  ì‚­ì œ
    """
    sentence = sentence.replace('\n', ' ')
    sentence = sentence.lower()
    sentence = re.sub(r"[^a-z0-9 ]", "", sentence)
    tokens = sentence.split()
    return tokens

In [8]:
df['tokens'] = df['description'].apply(lower_and_regex)
df.tail()

                                              title  ...                                             tokens
1288                            Senior Data Analyst  ...  [our, expert, delivery, business, intelligence...
1294  Senior / Data Scientist, Advertising Business  ...  [music, for, everyone, no, credit, card, neede...
1295                Senior Data & Applied Scientist  ...  [senior, data, applied, scientist, do, you, ha...
1297                          Senior Data Scientist  ...  [ebay, is, a, global, commerce, leader, that, ...
1299                          Senior Data Scientist  ...  [tldr, spring, is, accelerating, the, discover...

[5 rows x 4 columns]

### 2) ì •ì œí•œ í† í°ì„ ì‹œê°í™” í•©ë‹ˆë‹¤.

- Top 10 í† í°ì„ í”„ë¦°íŠ¸ í•©ë‹ˆë‹¤.
- í† í°ì˜ ìˆ˜, ë¹ˆë„ ìˆœìœ„, ì¡´ì¬ ë¬¸ì„œ ìˆ˜, ë¹„ìœ¨ ë“± ì •ë³´ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
- í† í° ìˆœìœ„ì— ë”°ë¥¸ í¼ì„¼íŠ¸ ëˆ„ì  ë¶„í¬ ê·¸ë˜í”„ë¥¼ ì‹œê°í™”í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 3) ì¶”ì²œ í† í° ìˆœìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [9]:
# Top 10 í† í°ì„ í”„ë¦°íŠ¸
from collections import Counter

word_counts = Counter()
df['tokens'].apply(lambda x: word_counts.update(x))
word_counts.most_common(10)

[('and', 21863),
 ('to', 12694),
 ('the', 10538),
 ('of', 8839),
 ('data', 7425),
 ('in', 6769),
 ('a', 6436),
 ('with', 5727),
 ('for', 4132),
 ('or', 3812)]

In [10]:
# í† í°ì˜ ìˆ˜, ë¹ˆë„ ìˆœìœ„, ì¡´ì¬ ë¬¸ì„œ ìˆ˜, ë¹„ìœ¨ ë“± ì •ë³´ë¥¼ ê³„ì‚°
# word_counts

In [11]:
# wc = word_count(df['tokens'])
# wc.head()

In [12]:
# import seaborn as sns

# sns.lineplot(x='rank', y='cul_percent', data=wc);

### 4) í™•ì¥ëœ ë¶ˆìš©ì–´ ì‚¬ì „ì„ ì‚¬ìš©í•´ í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- **ë¬¸í•­ 4) ê¸°ë³¸ ë¶ˆìš©ì–´ ì‚¬ì „ì— ë‘ ë‹¨ì–´(`"data", "work"`)ë¥¼ ì¶”ê°€í•˜ëŠ” ì½”ë“œë¥¼ ì‚¬ìš©í•´ì£¼ì„¸ìš”.**
- **ë¬¸í•­ 5) ë¶ˆìš©ì–´ë¥¼ ì œê±°í•˜ê³  ë‚œ ë’¤ í† í° ìˆœìœ„ 10ê°œì˜ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [13]:
# ë¬¸í•­ 4)
print(nlp.Defaults.stop_words)
STOP_WORDS = nlp.Defaults.stop_words.union(["data", "work"])

{'became', 'whose', 'also', 'neither', 'only', 'fifteen', "'ll", 'â€™ve', 'if', 'along', 'together', 'thus', 'being', 'of', 'hundred', 'upon', 'more', 'out', 'meanwhile', 'his', 'latterly', 'they', 'made', 'myself', 'eight', 'now', 'serious', 'be', 'when', "'s", 'whether', 'â€˜ll', 're', 'yourself', 'me', 'four', 'make', 'many', 'against', 'to', 'i', 'the', 'which', 'everyone', 'once', 'behind', 'least', 'into', 'â€™d', 'but', 'whereupon', 'latter', 'some', 'at', 'around', 'between', 'sometimes', 'anyway', 'show', 'amongst', 'before', 'own', 'these', 'seem', 'both', 'empty', 'always', 'call', 'across', 'otherwise', 'twenty', 'front', 'over', 'while', 'can', "'d", 'besides', 'must', 'again', 'all', 'you', 'except', 'first', 'however', 'yours', 'will', 'itself', 'herein', 'five', 'with', 'anywhere', 'elsewhere', 'â€˜ve', 'top', 'for', 'too', 'above', 'toward', 'noone', 'are', 'may', 'could', 'thru', 'give', 'without', 'have', 'becomes', 'whoever', 'cannot', 'although', 'in', 'herself', 'whereas', 'do', 'perhaps', 'something', 'three', 'how', 'â€˜m', 'six', 'would', 'already', 'go', 'â€˜s', 'almost', 'sometime', 'wherein', 'themselves', "'m", 'via', 'off', 'due', 'or', 'nine', 'mine', 'used', 'thereby', 'very', 'anyhow', 'ca', 'ourselves', 'about', 'as', 'even', 'others', 'afterwards', 'well', 'everything', 'though', 'onto', 'quite', 'this', 'two', 'because', 'their', 'either', 'a', 'per', 'most', 'was', 'moreover', 'next', 'been', 'still', "n't", 'nâ€˜t', 'beside', 'eleven', 'why', 'after', 'her', 'every', 'anything', 'never', 'thereafter', 'twelve', 'us', 'had', 'â€™ll', 'rather', 'towards', 'somewhere', 'should', 'seemed', 'my', 'your', 'someone', 'until', 'since', 'what', 'therefore', 'wherever', 'among', 'during', 'done', 'them', 'whenever', 'everywhere', 'take', 'that', 'using', 'really', 'none', 'bottom', 'several', 'regarding', 'become', 'other', 'enough', 'hereafter', 'not', 'those', 'down', 'alone', 'whatever', 'anyone', 'beforehand', 'hers', 'ever', 'whereafter', 'whither', 'within', 'whole', 'him', 'see', 'does', 'same', 'much', 'few', 'we', 'an', 'back', 'indeed', 'there', 'get', 'by', 'each', 'last', 'she', 'where', 'seems', 'further', 'becoming', 'on', "'ve", 'nobody', 'no', 'nowhere', 'â€™re', 'mostly', 'sixty', 'beyond', 'â€™s', 'move', 'through', 'up', 'from', 'therein', 'just', 'himself', 'ours', 'side', 'often', 'ten', 'â€˜re', 'â€™m', 'put', 'please', 'â€˜d', 'hereupon', 'is', 'it', 'here', "'re", 'one', 'former', 'forty', 'thereupon', 'formerly', 'and', 'throughout', 'our', 'doing', 'various', 'yet', 'thence', 'any', 'amount', 'under', 'than', 'namely', 'such', 'then', 'fifty', 'its', 'has', 'whence', 'name', 'else', 'keep', 'did', 'were', 'whom', 'third', 'so', 'nâ€™t', 'seeming', 'say', 'hereby', 'less', 'another', 'might', 'somehow', 'hence', 'he', 'whereby', 'nor', 'nothing', 'unless', 'yourselves', 'nevertheless', 'who', 'part', 'below', 'full', 'am'}

In [14]:
tokens = []

for doc in tokenizer.pipe(df['description']):
    doc_tokens = []
    
    for token in doc:
        txt = re.sub(r"[^a-z0-9 ]", "", token.text.lower()).strip()
        if txt not in STOP_WORDS:
            if txt not in ['', '\n'] :
              doc_tokens.append(txt)

    tokens.append(doc_tokens)
    
df['tokens'] = tokens
df.head()

                                               title  ...                                             tokens
0               Data Scientist (Structured Products)  ...  [job, details, description, essential, duties,...
2                           Specialist, Data Science  ...  [team, member, finance, internal, audit, depar...
4                        Sr. Data Scientist (Remote)  ...  [overview, american, credit, acceptance, seeks...
5  Data Scientist Associate Sr (DADS06) BTB - LEG...  ...  [jp, morgans, corporate, investment, bank, cib...
6                                     Data Scientist  ...  [vystar, offer, competitive, pay, excellent, b...

[5 rows x 4 columns]

In [15]:
# ë¬¸í•­ 5) ë¶ˆìš©ì–´ë¥¼ ì œê±°í•˜ê³  ë‚œ ë’¤ í† í° ìˆœìœ„ 10ê°œì˜ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.
# Top 10 í† í°ì„ í”„ë¦°íŠ¸
# from collections import Counter

word_counts = Counter()
df['tokens'].apply(lambda x: word_counts.update(x)) # updateê°€ ì•ˆëŒ.. ìƒˆë¡œ ê°ì²´ë¥¼ ë°›ì•„ì„œ ì‹¤í–‰í•˜ë©´ ëŒ
most_10_word = word_counts.most_common(10)
most_10_word

[('experience', 3450),
 ('business', 2064),
 ('science', 1648),
 ('team', 1625),
 ('learning', 1596),
 ('analysis', 1349),
 ('skills', 1251),
 ('machine', 1152),
 ('analytics', 1136),
 ('models', 1034)]

### 5) Lemmatization(í‘œì œì–´ ì¶”ì¶œ) ì‚¬ìš© íš¨ê³¼ë¥¼ ë¶„ì„í•´ ë´…ë‹ˆë‹¤.

- **ë¬¸í•­ 6) Lemmatizationì„ ì§„í–‰í•œ ë’¤ ìƒìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [16]:
def get_lemmas(txt):
    txt = txt.replace('\n', ' ')
    txt = re.sub(r"[^a-z0-9 ]", "", txt.lower()).strip()

    lemmas = []
    
    doc = nlp(txt)

    for token in doc: 
        if ((token.is_stop == False) and (token.is_punct == False)) and (token.pos_ != 'PRON'):
          if token.text not in ['', ' '] :
            lemmas.append(token.lemma_)
    
    return lemmas

# print([token.lemma_ for token in doc if (token.is_stop != True) and (token.is_punct != True)])

In [17]:
df['lemmas'] = df['description'].apply(get_lemmas)
df['lemmas'].head()

0    [job, detail, description, essential, duty, re...
2    [team, member, finance, internal, audit, depar...
4    [overview, american, credit, acceptance, seek,...
5    [jp, morgans, corporate, investment, bank, cib...
6    [vystar, offer, competitive, pay, excellent, b...
Name: lemmas, dtype: object

In [18]:
lemmas_word_counts = Counter()

df['lemmas'].apply(lambda x: lemmas_word_counts.update(x))
most_10__lemmas_word = lemmas_word_counts.most_common(10)
most_10__lemmas_word

[('datum', 5067),
 ('experience', 3622),
 ('work', 2861),
 ('data', 2358),
 ('team', 2298),
 ('business', 2157),
 ('science', 1704),
 ('analysis', 1580),
 ('model', 1554),
 ('analytic', 1379)]

In [19]:
# !pip install squarify

## 2. ìœ ì‚¬í•œ ë¬¸ì„œ ì°¾ê¸°

### 1) `TfidfVectorizer`ë¥¼ ì´ìš©í•´ ê° ë¬¸ì„œë“¤ì„ ë²¡í„°í™” í•œ í›„ KNN ëª¨ë¸ì„ ë§Œë“¤ê³ , <br/> ë‚´ê°€ ì›í•˜ëŠ” `job description`ì„ ì§ˆì˜í•´ ê°€ì¥ ê°€ê¹Œìš´ ê²€ìƒ‰ ê²°ê³¼ë“¤ì„ ê°€ì ¸ì˜¤ê³  ë¶„ì„í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 9) 88ë²ˆ indexì˜ `job description`ì™€ 5ê°œì˜ ê°€ì¥ ìœ ì‚¬í•œ `job description`ì´ ìˆëŠ” indexë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
    - ë‹µì€ 88ë²ˆ ì¸ë±ìŠ¤ë¥¼ í¬í•¨í•©ë‹ˆë‹¤.
    - `max_features = 3000` ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
    - [88, 90, 91, 93, 94] í˜•íƒœë¡œ ë‹µì„ ì…ë ¥í•´ì£¼ì„¸ìš”

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA

# TF-IDF vectorizer. í…Œì´ë¸”ì„ ì‘ê²Œ ë§Œë“¤ê¸° ìœ„í•´ max_features=15ë¡œ ì œí•œí•˜ì˜€ìŠµë‹ˆë‹¤.
tfidf = TfidfVectorizer(stop_words='english', max_features=15)

# Fit í›„ dtmì„ ë§Œë“­ë‹ˆë‹¤.(ë¬¸ì„œ, ë‹¨ì–´ë§ˆë‹¤ tf-idf ê°’ì„ ê³„ì‚°í•©ë‹ˆë‹¤)
dtm_tfidf = tfidf.fit_transform(df['description'])

dtm_tfidf = pd.DataFrame(dtm_tfidf.todense(), columns=tfidf.get_feature_names())
dtm_tfidf

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      ability  analysis  analytics  ...      team      work     years
0    0.301373  0.417446   0.000000  ...  0.125346  0.358723  0.134582
1    0.219865  0.058009   0.130702  ...  0.104509  0.299091  0.056105
2    0.202192  0.062237   0.280457  ...  0.112127  0.213928  0.060194
3    0.179847  0.000000   0.187096  ...  0.099735  0.000000  0.053542
4    0.029973  0.332141   0.280635  ...  0.199463  0.190279  0.133850
..        ...       ...        ...  ...       ...       ...       ...
752  0.000000  0.000000   0.000000  ...  0.502050  0.000000  0.000000
753  0.069705  0.128735   0.362572  ...  0.347895  0.276564  0.000000
754  0.092069  0.085020   0.000000  ...  0.153172  0.365300  0.082230
755  0.276875  0.191756   0.072009  ...  0.230313  0.274636  0.247284
756  0.000000  0.098503   0.000000  ...  0.354926  0.169292  0.095270

[757 rows x 15 columns]

In [21]:
from sklearn.neighbors import NearestNeighbors

# dtmì„ ì‚¬ìš©íˆ NN ëª¨ë¸ì„ í•™ìŠµì‹œí‚µë‹ˆë‹¤. (ë””í´íŠ¸)ìµœê·¼ì ‘ 5 ì´ì›ƒ.
nn = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
nn.fit(dtm_tfidf)

nn.kneighbors([dtm_tfidf.iloc[88]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  "X does not have valid feature names, but"

(array([[0.        , 0.2847889 , 0.30134951, 0.34527149, 0.35129336]]),
 array([[ 88,  72, 717, 597, 427]]))

In [22]:
print(df['description'][88][0:300], '\n---------------')
print(df['description'][72][0:300])

We're looking for Data Scientists to work on our core and business products to help shape the future of what we build at Hyperspace Ventures. You will enjoy working with various data sets, cutting edge technology, and the ability to see your insights turned into real products on a regular basis. The
---------------
As a part of the Data Science team, you will run the development of next-generation platforms for customers micro-segmentation, clusterization, behavior analysis, and prediction as well as building up new improved recommendation systems for the customers.
You will use your expertise to design data s

## 3. TF-IDF ì´ìš©í•œ í…ìŠ¤íŠ¸ ë¶„ë¥˜ ì§„í–‰í•˜ê¸°

TF-IDFë¥¼ ì´ìš©í•´ ë¬¸ì¥ í˜¹ì€ ë¬¸ì„œë¥¼ ë²¡í„°í™”í•œ ê²½ìš°, ì´ ë²¡í„°ê°’ì„ ì´ìš©í•´ ë¬¸ì„œ ë¶„ë¥˜ íƒœìŠ¤í¬ë¥¼ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

í˜„ì¬ ë‹¤ë£¨ê³  ìˆëŠ” ë°ì´í„°ì…‹ì—ëŠ” labelì´ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë¯€ë¡œ, title ì»¬ëŸ¼ì— "Senior"ê°€ ìˆëŠ”ì§€ ì—†ëŠ”ì§€ ì—¬ë¶€ë¥¼ í†µí•´ Senior ì§ë¬´ ì—¬ë¶€ë¥¼ ë¶„ë¥˜í•˜ëŠ” ì‘ì—…ì„ ì§„í–‰í•´ë³´ê² ìŠµë‹ˆë‹¤.

### 1) title ì»¬ëŸ¼ì— "Senior" ë¬¸ìì—´ì´ ìˆìœ¼ë©´ 1, ì—†ìœ¼ë©´ 0ì¸ "Senior"ë¼ëŠ” ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

ë¬¸í•­ 7) ìƒˆë¡­ê²Œ ë§Œë“  Senior ì»¬ëŸ¼ì—ì„œ ê°’ì´ 1ì¸ (Senior O) ë°ì´í„°ì˜ ê°œìˆ˜ëŠ”?

In [23]:
def findWord(txt) :
  if 'Senior' in txt:
    return 1
  return 0

In [24]:
df['senior'] = df['title'].apply(findWord)

In [25]:
df['senior'].sum()

95

ë¬¸í•­ 8) sklearnì˜ `train_test_split`ì„ í†µí•´ train ë°ì´í„°ì™€ valid ë°ì´í„°ë¡œ ë‚˜ëˆˆ í›„, `sklearn`ì˜ `DecisionTreeClassifier`ë¥¼ ì´ìš©í•´ ë¶„ë¥˜ë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”. 

ë‹¨, xê°’ì€ ìœ„ì—ì„œ í•™ìŠµí•œ dtm_tfidfë¥¼ ê·¸ëŒ€ë¡œ ì´ìš©í•´ì£¼ì„¸ìš”. train_test_splitê³¼ DecisionTreeClassifierì˜ random_stateì„ 42ë¡œ ê³ ì •í•˜ê³ , test_sizeëŠ” 0.1ë¡œ ì„¤ì •í•´ì£¼ì„¸ìš”.

í•™ìŠµì„ ì™„ë£Œí•œ í›„, test ë°ì´í„°ì— ëŒ€í•œ ì˜ˆì¸¡ì„ ì§„í–‰í•˜ê³  label 1ì— ëŒ€í•œ precisionê³¼ recall ê°’ì„ ì ì–´ì£¼ì„¸ìš”

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(dtm_tfidf, test_size=0.1, random_state=42)
y_train, y_test = train_test_split(df['senior'], test_size=0.1, random_state=42)

X_train, X_val = train_test_split(X_train, test_size=0.1, random_state=42)
y_train, y_val = train_test_split(y_train, test_size=0.1, random_state=42)
X_train.head()

      ability  analysis  analytics  ...      team      work     years
359  0.000000  0.000000   0.000000  ...  0.222376  0.070712  0.397936
501  0.000000  0.164947   0.247766  ...  0.049528  0.047248  0.000000
169  0.124556  0.460074   0.259152  ...  0.207218  0.197678  0.111244
627  0.000000  0.000000   0.000000  ...  0.141468  0.404863  0.151892
269  0.000000  0.114801   0.129331  ...  0.206827  0.098652  0.000000

[5 rows x 15 columns]

In [27]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score, precision_score, recall_score

model = DecisionTreeClassifier(max_depth=7, random_state=42, criterion='entropy')
model.fit(X_train, y_train)
print(model.score(X_train, y_train))

# ê²€ì¦ì„¸íŠ¸ë¡œ í‰ê°€
y_pred_val = model.predict(X_val)
print('ê²€ì¦ ì •í™•ë„ : ', model.score(X_val, y_val))
print('ê²€ì¦ f1 score : ', f1_score(y_val, y_pred_val))
print('ê²€ì¦ precision score : ', precision_score(y_val, y_pred_val, average=None)[0])
print('ê²€ì¦ recall score : ', recall_score(y_val, y_pred_val, average=None)[0])

y_pred = model.predict(X_test)
print('test ì •í™•ë„ : ', model.score(X_test, y_test))
print('test precision score : ', precision_score(y_test, y_pred, average=None)[0])
print('test recall score : ', recall_score(y_test, y_pred, average=None)[0])

0.9379084967320261
ê²€ì¦ ì •í™•ë„ :  0.782608695652174
ê²€ì¦ f1 score :  0.0
ê²€ì¦ precision score :  0.8307692307692308
ê²€ì¦ recall score :  0.9310344827586207
test ì •í™•ë„ :  0.8421052631578947
test precision score :  0.8888888888888888
test recall score :  0.9411764705882353