<a href="https://colab.research.google.com/github/ttogle918/ds-section4-sprint2/blob/master/N421_count-based_representation/N421a_Count_based_Representation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 4 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

---


# Count-based_Representation

indeed.com ì—ì„œ Data Scientist í‚¤ì›Œë“œë¡œ Job descritionì„ ì°¾ì•„ ìŠ¤í¬ë˜í•‘í•œ ë°ì´í„°ë¥¼ ì´ìš©í•´ ê³¼ì œë¥¼ ì§„í–‰í•´ ë³´ê² ìŠµë‹ˆë‹¤.

[Data_Scienties.csv](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv) íŒŒì¼ì—ëŠ” 1300ì—¬ê°œì˜ Data Scientist job description ì •ë³´ê°€ ë‹´ê²¨ ìˆìŠµë‹ˆë‹¤.

## 1. ë°ì´í„° ì „ì²˜ë¦¬ (Text preprocessing)

In [23]:
import re
import string

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 0) í…ìŠ¤íŠ¸ ë¶„ì„ì— ì•ì„œ ë°ì´í„° ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.

- íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¨ í›„ title, company, description ì— í•´ë‹¹í•˜ëŠ” Columnë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”.
- ì¤‘ë³µê°’ì„ ì œê±°í•˜ì„¸ìš”.

In [24]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv')

In [25]:
df = df[['title', 'company', 'description']]
df.duplicated().sum()

543

In [26]:
df = df.drop_duplicates()
df.isna().sum()

title          0
company        0
description    0
dtype: int64

In [27]:
df.shape

(757, 3)

### 1) í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ í†µì¼
- ë¶„ì„ì— ê´€ë ¨ ì—†ëŠ” ì •ë³´ ì œê±°
- ì´ë²ˆ ê³¼ì œëŠ” `spacy` ë¡œë¶€í„° `"en_core_web_sm"` ì„ ë¡œë“œí•˜ì—¬ ì§„í–‰í•´ì£¼ì„¸ìš”.

- **ë¬¸í•­ 1) ëŒ€ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
- **ë¬¸í•­ 2) ì •ê·œ í‘œí˜„ì‹ì„ ì‚¬ìš©í•˜ì—¬ re ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì•ŒíŒŒë²³ ì†Œë¬¸ì, ìˆ«ìë§Œ ë°›ì„ ìˆ˜ ìˆëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.**

In [28]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load("en_core_web_sm")
tokenizer = Tokenizer(nlp.vocab)

In [29]:
def lower_and_regex(sentence):
    """
    ëª¨ë“  ëŒ€ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ ë³€ê²½ í›„
    ì •ê·œì‹ì„ ì´ìš©í•˜ì—¬ ì•ŒíŒŒë²³ ì†Œë¬¸ì ì´ì™¸ì˜ êµ¬ë‘ì  ì‚­ì œ
    """
    sentence = sentence.replace('\n', ' ')
    sentence = sentence.lower()
    sentence = re.sub(r"[^a-z0-9 ]", "", sentence)
    tokens = sentence.split()
    return tokens

In [47]:
df['tokens'] = df['description'].apply(lower_and_regex)
df.tail()

                                              title  ...                                             lemmas
1288                            Senior Data Analyst  ...  [expert, delivery, business, intelligence, tea...
1294  Senior / Data Scientist, Advertising Business  ...  [music, credit, card, need, promise, platform,...
1295                Senior Data & Applied Scientist  ...  [senior, data, applied, scientist, passion, da...
1297                          Senior Data Scientist  ...  [ebay, global, commerce, leader, allow, shape,...
1299                          Senior Data Scientist  ...  [tl;dr, spring, accelerate, discovery, therapy...

[5 rows x 5 columns]

### 2) ì •ì œí•œ í† í°ì„ ì‹œê°í™” í•©ë‹ˆë‹¤.

- Top 10 í† í°ì„ í”„ë¦°íŠ¸ í•©ë‹ˆë‹¤.
- í† í°ì˜ ìˆ˜, ë¹ˆë„ ìˆœìœ„, ì¡´ì¬ ë¬¸ì„œ ìˆ˜, ë¹„ìœ¨ ë“± ì •ë³´ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
- í† í° ìˆœìœ„ì— ë”°ë¥¸ í¼ì„¼íŠ¸ ëˆ„ì  ë¶„í¬ ê·¸ë˜í”„ë¥¼ ì‹œê°í™”í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 3) ì¶”ì²œ í† í° ìˆœìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [31]:
# Top 10 í† í°ì„ í”„ë¦°íŠ¸
from collections import Counter

word_counts = Counter()
df['tokens'].apply(lambda x: word_counts.update(x))
word_counts.most_common(10)

[('and', 21863),
 ('to', 12694),
 ('the', 10538),
 ('of', 8839),
 ('data', 7425),
 ('in', 6769),
 ('a', 6436),
 ('with', 5727),
 ('for', 4132),
 ('or', 3812)]

In [32]:
# í† í°ì˜ ìˆ˜, ë¹ˆë„ ìˆœìœ„, ì¡´ì¬ ë¬¸ì„œ ìˆ˜, ë¹„ìœ¨ ë“± ì •ë³´ë¥¼ ê³„ì‚°
# word_counts

In [33]:
# wc = word_count(df['tokens'])
# wc.head()

In [34]:
# import seaborn as sns

# sns.lineplot(x='rank', y='cul_percent', data=wc);

### 4) í™•ì¥ëœ ë¶ˆìš©ì–´ ì‚¬ì „ì„ ì‚¬ìš©í•´ í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- **ë¬¸í•­ 4) ê¸°ë³¸ ë¶ˆìš©ì–´ ì‚¬ì „ì— ë‘ ë‹¨ì–´(`"data", "work"`)ë¥¼ ì¶”ê°€í•˜ëŠ” ì½”ë“œë¥¼ ì‚¬ìš©í•´ì£¼ì„¸ìš”.**
- **ë¬¸í•­ 5) ë¶ˆìš©ì–´ë¥¼ ì œê±°í•˜ê³  ë‚œ ë’¤ í† í° ìˆœìœ„ 10ê°œì˜ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [35]:
# ë¬¸í•­ 4)
print(nlp.Defaults.stop_words)
STOP_WORDS = nlp.Defaults.stop_words.union(["data", "work"])

{'re', 'same', 'â€™s', 'a', 'whatever', 'see', 'â€˜d', 'also', 'doing', 'than', 'sometime', 'nine', 'latter', 'full', 'they', 'might', 'made', 'is', 'its', 'although', 'himself', 'â€™d', 'ten', 'serious', "'ll", 'various', 'hereby', 'â€™ll', 'in', 'afterwards', 'around', 'therein', 'and', 'very', 'were', 'to', 'thence', 'moreover', 'own', 'beforehand', 'say', 'rather', 'into', 'latterly', 'whose', 'namely', 'at', 'well', 'seeming', 'eight', 'while', 'since', 'indeed', 'i', 'somewhere', 'whereas', 'where', 'it', 'up', 'from', 'several', 'nothing', 'no', 'thru', 'though', 'does', 'thereby', 'former', 'per', 'me', 'further', 'our', 'yourselves', 'seemed', 'must', 'over', 'be', 'often', 'thus', 'first', 'nâ€™t', 'has', 'hence', 'too', 'until', 'why', 'now', 'each', 'any', 'off', 'together', 'anyhow', 'please', 'along', 'not', 'other', 'even', 'sixty', 'hereupon', 'just', 'when', 'itself', 'being', 'can', 'anything', 'anyone', 'became', 'much', 'we', 'something', 'such', 'among', 'regarding', 'mostly', 'keep', 'he', 'their', 'my', 'whole', 'becomes', 'under', 'wherever', 'the', 'get', 'nowhere', 'using', 'almost', 'would', 'toward', 'could', 'alone', 'anywhere', 'used', 'whenever', 'beside', 'whereafter', 'yet', 'only', 'therefore', 'neither', 'â€™m', 'above', 'else', 'still', 'within', 'done', 'during', 'towards', 'here', 'them', 'third', 'â€˜ve', 'themselves', 'become', 'are', 'least', "'ve", 'sometimes', 'another', 'back', 'below', "'s", 'top', 'should', 'somehow', 'us', 'you', 'there', 'enough', 'seem', 'an', 'she', 'go', 'put', "'d", 'hereafter', 'name', 'quite', 'do', 'those', 'whether', 'give', 'after', 'whence', 'nor', 'what', 'none', 'whoever', 'ours', 'that', 'before', 'thereupon', 'bottom', 'who', 'myself', 'both', 'â€˜re', 'on', 'herself', 'your', 'everywhere', 'perhaps', 'yourself', 'these', 'â€˜ll', 'eleven', 'many', 'few', "'m", 'forty', 'always', 'ourselves', 'nobody', 'out', 'whereupon', 'never', 'without', 'part', 'becoming', 'or', 'hers', 'formerly', 'call', 'every', 'due', 'fifty', 'so', 'seems', 'his', 'with', 'â€™ve', 'already', 'whither', 'nâ€˜t', 'whom', 'unless', 'for', 'twelve', 'â€™re', 'two', 'all', 'some', 'upon', 'which', 'this', 'twenty', 'everyone', 'except', 'amount', 'more', 'meanwhile', 'someone', 'herein', 'did', 'show', 'mine', 'have', 'either', 'last', 'fifteen', 'side', 'yours', 'however', 'thereafter', 'five', 'been', 'others', 'less', 'between', 'amongst', 'anyway', 'against', 'how', 'her', 'then', 'six', 'most', 'ever', 'through', 'because', 'cannot', 'ca', 'front', 'â€˜s', 'everything', 'move', 'make', 'â€˜m', "'re", 'am', 'besides', 'onto', 'will', 'beyond', 'really', 'elsewhere', 'was', 'behind', 'down', 'take', 'noone', 'by', 'wherein', 'again', 'him', 'via', 'four', 'next', 'otherwise', 'hundred', 'of', 'one', "n't", 'may', 'throughout', 'if', 'once', 'had', 'whereby', 'empty', 'across', 'about', 'nevertheless', 'as', 'but', 'three'}

In [36]:
tokens = []

for doc in tokenizer.pipe(df['description']):
    doc_tokens = []
    
    for token in doc:
        txt = re.sub(r"[^a-z0-9 ]", "", token.text.lower()).strip()
        if txt not in STOP_WORDS:
            if txt not in ['', '\n'] :
              doc_tokens.append(txt)

    tokens.append(doc_tokens)
    
df['tokens'] = tokens
df.head()

                                               title  ...                                             tokens
0               Data Scientist (Structured Products)  ...  [job, details, description, essential, duties,...
2                           Specialist, Data Science  ...  [team, member, finance, internal, audit, depar...
4                        Sr. Data Scientist (Remote)  ...  [overview, american, credit, acceptance, seeks...
5  Data Scientist Associate Sr (DADS06) BTB - LEG...  ...  [jp, morgans, corporate, investment, bank, cib...
6                                     Data Scientist  ...  [vystar, offer, competitive, pay, excellent, b...

[5 rows x 4 columns]

In [39]:
# ë¬¸í•­ 5) ë¶ˆìš©ì–´ë¥¼ ì œê±°í•˜ê³  ë‚œ ë’¤ í† í° ìˆœìœ„ 10ê°œì˜ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.
# Top 10 í† í°ì„ í”„ë¦°íŠ¸
# from collections import Counter

word_counts = Counter()
df['tokens'].apply(lambda x: word_counts.update(x)) # updateê°€ ì•ˆëŒ.. ìƒˆë¡œ ê°ì²´ë¥¼ ë°›ì•„ì„œ ì‹¤í–‰í•˜ë©´ ëŒ
most_10_word = word_counts.most_common(10)
most_10_word

[('experience', 3450),
 ('business', 2064),
 ('science', 1648),
 ('team', 1625),
 ('learning', 1596),
 ('analysis', 1349),
 ('skills', 1251),
 ('machine', 1152),
 ('analytics', 1136),
 ('models', 1034)]

### 5) Lemmatization(í‘œì œì–´ ì¶”ì¶œ) ì‚¬ìš© íš¨ê³¼ë¥¼ ë¶„ì„í•´ ë´…ë‹ˆë‹¤.

- **ë¬¸í•­ 6) Lemmatizationì„ ì§„í–‰í•œ ë’¤ ìƒìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [46]:
# Lemmatization ê³¼ì •ì„ í•¨ìˆ˜ë¡œ ë§Œë“¤ì–´ ë´…ì‹œë‹¤
def get_lemmas(tokens):
    lemmas = []
    for token in tokens :
      lemmas.append(token.lemma_)
    
    return lemmas

df['lemmas'] = df['tokens'].apply(get_lemmas)
df['lemmas'].head()

AttributeError: ignored

In [44]:
# from collections import Counter

lemmas_word_counts = Counter()
df['lemmas'].apply(lambda x: lemmas_word_counts.update(x))
most_10__lemmas_word = lemmas_word_counts.most_common(10)
most_10__lemmas_word

[('datum', 5505),
 (' ', 4022),
 ('experience', 3666),
 ('work', 2913),
 ('team', 2336),
 ('data', 2236),
 ('business', 2193),
 ('science', 1735),
 ('analysis', 1609),
 ('model', 1471)]

In [ ]:
!pip install squarify

In [ ]:
import squarify

wc = lemmas_word_counts(df['lemmas'])
wc_top20 = wc[wc['rank'] <= 20]

squarify.plot(sizes=wc_top20['percent'], label=wc_top20['word'], alpha=0.6 )
plt.axis('off')
plt.show()

In [ ]:
# squarify.plot(sizes=wc_top20['percent'], label=wc_top20['word'], alpha=0.6 )
# plt.axis('off')
# plt.show()

## 2. ìœ ì‚¬í•œ ë¬¸ì„œ ì°¾ê¸°

### 1) `TfidfVectorizer`ë¥¼ ì´ìš©í•´ ê° ë¬¸ì„œë“¤ì„ ë²¡í„°í™” í•œ í›„ KNN ëª¨ë¸ì„ ë§Œë“¤ê³ , <br/> ë‚´ê°€ ì›í•˜ëŠ” `job description`ì„ ì§ˆì˜í•´ ê°€ì¥ ê°€ê¹Œìš´ ê²€ìƒ‰ ê²°ê³¼ë“¤ì„ ê°€ì ¸ì˜¤ê³  ë¶„ì„í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 9) 88ë²ˆ indexì˜ `job description`ì™€ 5ê°œì˜ ê°€ì¥ ìœ ì‚¬í•œ `job description`ì´ ìˆëŠ” indexë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
    - ë‹µì€ 88ë²ˆ ì¸ë±ìŠ¤ë¥¼ í¬í•¨í•©ë‹ˆë‹¤.
    - `max_features = 3000` ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
    - [88, 90, 91, 93, 94] í˜•íƒœë¡œ ë‹µì„ ì…ë ¥í•´ì£¼ì„¸ìš”

## 3. TF-IDF ì´ìš©í•œ í…ìŠ¤íŠ¸ ë¶„ë¥˜ ì§„í–‰í•˜ê¸°

TF-IDFë¥¼ ì´ìš©í•´ ë¬¸ì¥ í˜¹ì€ ë¬¸ì„œë¥¼ ë²¡í„°í™”í•œ ê²½ìš°, ì´ ë²¡í„°ê°’ì„ ì´ìš©í•´ ë¬¸ì„œ ë¶„ë¥˜ íƒœìŠ¤í¬ë¥¼ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

í˜„ì¬ ë‹¤ë£¨ê³  ìˆëŠ” ë°ì´í„°ì…‹ì—ëŠ” labelì´ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë¯€ë¡œ, title ì»¬ëŸ¼ì— "Senior"ê°€ ìˆëŠ”ì§€ ì—†ëŠ”ì§€ ì—¬ë¶€ë¥¼ í†µí•´ Senior ì§ë¬´ ì—¬ë¶€ë¥¼ ë¶„ë¥˜í•˜ëŠ” ì‘ì—…ì„ ì§„í–‰í•´ë³´ê² ìŠµë‹ˆë‹¤.

### 1) title ì»¬ëŸ¼ì— "Senior" ë¬¸ìì—´ì´ ìˆìœ¼ë©´ 1, ì—†ìœ¼ë©´ 0ì¸ "Senior"ë¼ëŠ” ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

ë¬¸í•­ 7) ìƒˆë¡­ê²Œ ë§Œë“  Senior ì»¬ëŸ¼ì—ì„œ ê°’ì´ 1ì¸ (Senior O) ë°ì´í„°ì˜ ê°œìˆ˜ëŠ”?

In [ ]:
df['senior'] = df['title'].apply()

ë¬¸í•­ 8) sklearnì˜ `train_test_split`ì„ í†µí•´ train ë°ì´í„°ì™€ valid ë°ì´í„°ë¡œ ë‚˜ëˆˆ í›„, `sklearn`ì˜ `DecisionTreeClassifier`ë¥¼ ì´ìš©í•´ ë¶„ë¥˜ë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”. 

ë‹¨, xê°’ì€ ìœ„ì—ì„œ í•™ìŠµí•œ dtm_tfidfë¥¼ ê·¸ëŒ€ë¡œ ì´ìš©í•´ì£¼ì„¸ìš”. train_test_splitê³¼ DecisionTreeClassifierì˜ random_stateì„ 42ë¡œ ê³ ì •í•˜ê³ , test_sizeëŠ” 0.1ë¡œ ì„¤ì •í•´ì£¼ì„¸ìš”.

í•™ìŠµì„ ì™„ë£Œí•œ í›„, test ë°ì´í„°ì— ëŒ€í•œ ì˜ˆì¸¡ì„ ì§„í–‰í•˜ê³  label 1ì— ëŒ€í•œ precisionê³¼ recall ê°’ì„ ì ì–´ì£¼ì„¸ìš”

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###