<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

---

# More Hypothesis Testing

## ğŸ† í•™ìŠµ ëª©í‘œ 

- t-testë¥¼ ìœ„í•œ ì¡°ê±´ì„ ì•Œ ìˆ˜ ìˆë‹¤.
- t-testì™¸ì— ë‹¤ë¥¸ ê°€ì„¤ê²€ì • ë°©ë²•ì— ëŒ€í•´ì„œ ì„¤ëª…í•  ìˆ˜ ìˆë‹¤.
- Type of Errorë¥¼ êµ¬ë¶„í•˜ê³  ì„¤ëª…í•  ìˆ˜ ìˆë‹¤.
- $\chi^2$-testì˜ ëª©ì ê³¼ ì‚¬ìš©ì˜ˆì‹œë¥¼ ì„¤ëª…í•  ìˆ˜ ìˆë‹¤.
- ëª¨ìˆ˜í†µê³„ì™€ ë¹„ëª¨ìˆ˜í†µê³„ì˜ ì°¨ì´ì— ëŒ€í•´ ì„¤ëª…í•  ìˆ˜ ìˆë‹¤.
---

## T-test +

ì–´ì œ ë°°ìš´ t-testëŠ” ê·¸ë£¹ì˜ í‰ê· ê°’ì— ëŒ€í•´ì„œ ë¹„êµí•˜ëŠ” ê°€ì„¤ê²€ì •ë°©ë²•ì…ë‹ˆë‹¤.

ê·¸ëŸ¬ë‚˜ ì‚¬ì‹¤ t-testë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ëª‡ê°€ì§€ ì¡°ê±´ì´ ê°€ì •ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”.

<http://www.incodom.kr/%EC%9D%B4%EB%A1%A0_%EB%B0%8F_T%EA%B2%80%EC%A0%95>

<https://dermabae.tistory.com/?page=26>

<img src='https://user-images.githubusercontent.com/6457691/89757774-2fc40280-db21-11ea-8de7-43d878f97efe.png' width='500'>

- ë…ë¦½ì„± : ë‘ ê·¸ë£¹ì´ ì—°ê²°ë˜ì–´ ìˆëŠ” (paired) ìŒì¸ì§€

<img src='https://i.imgur.com/IPfYgXT.png'>

- ë“±ë¶„ì‚°ì„± : ë‘ ê·¸ë£¹ì´ ì–´ëŠì •ë„ ìœ ì‚¬í•œ ìˆ˜ì¤€ì˜ ë¶„ì‚° ê°’ì„ ê°€ì§€ëŠ”ì§€

<img src='https://i.imgur.com/XpNvpqF.png'>

- ì •ê·œì„±: ë°ì´í„°ê°€ ì •ê·œì„±ì„ ë‚˜íƒ€ëŠ”ì§€

<img src='https://i.imgur.com/XsR0OW1.png'>


ì¦‰ t-testëŠ” `íŠ¹ì •í•œ ì¡°ê±´ì—ì„œ` ê·¸ë£¹ì˜ í‰ê· ì„ ë¹„êµí•˜ê¸° ìœ„í•œ ê°€ì„¤ê²€ì • ë°©ë²•ì´ë¼ëŠ” ê²ƒ ì…ë‹ˆë‹¤.

**ê·¸ë¦¬ê³  ì´ëŸ¬í•œ ë‚´ìš©ë“¤ì„ í™•ì¸í•˜ê¸° ìœ„í•œ ê°€ì„¤ê²€ì • ë°©ë²•ë“¤ë„ scipyì— ì´ë¯¸ êµ¬í˜„ë˜ì–´ ìˆìŠµë‹ˆë‹¤.**

### ë°ì´í„°ì˜ ì •ê·œì„± í™•ì¸

ì •ê·œë¶„í¬ì˜ ìˆ˜í•™ì  ì •ì˜ì— ëŒ€í•´ì„œëŠ” ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. 

<https://en.wikipedia.org/wiki/Normal_distribution>

<img src='https://i.imgur.com/34BFVHJ.png'>

ê·¸ëŸ¬ë‚˜ ë§Œì•½ ì•„ë˜ì™€ ê°™ì´ ë°ì´í„°ê°€ ì •ê·œë¶„í¬ì™€ëŠ” ë‹¤ë¥¸ ì–‘ìƒì„ ë³´ì¸ë‹¤ë©´, ì´ë¥¼ í†µê³„ì ìœ¼ë¡œ ì–´ë–»ê²Œ ê²€ì¦í•´ì•¼ í• ê¹Œìš”?

<img src='https://i.imgur.com/bs4DjYh.png'>

êµ¬ê¸€ì— python normal testë¥¼ ê²€ìƒ‰í•´ë³¼ ìˆ˜ ìˆì„ê²ë‹ˆë‹¤.

<img src='https://i.imgur.com/PaR3EpO.png' width = 500>

ì—¬ëŸ¬ë¶„ì€ ì–´ë–¤ ë‚´ìš©ì´ ì •ë§ normalityë¥¼ testí•˜ê¸° ìœ„í•œ ë°©ë²•ì¸ì§€ ëª¨ë¥´ê¸° ë•Œë¬¸ì— í•˜ë‚˜í•˜ë‚˜ ë‹¤ ì½ì–´ë´ì•¼ í• ê²ë‹ˆë‹¤.

<img src='https://i.imgur.com/Cr5VUgI.png'>

ê·¸ëŸ¬ë©´ ì–´ëŠ ìˆœê°„ `scipy.stats`ì˜ `normaltest`ê°€ ê´€ë ¨ ë°©ë²•ì´êµ¬ë‚˜ ë¼ëŠ” ê±¸ ì•Œê²Œ ë  ê²ë‹ˆë‹¤.

íŠ¹íˆ `í•¨ê»˜ ê²€ìƒ‰í•œ í•­ëª©`ë“¤ì„ ì°¸ì¡°í•œë‹¤ë©´ ë” ê¹Šê²Œ ê³µë¶€ í•  ìˆ˜ ìˆì„ê²ë‹ˆë‹¤.

? ê·¸ë ‡ë‹¤ë©´ ë°ì´í„°ì˜ ë“±ë¶„ì‚°ì„±ì„ í™•ì¸í•˜ê¸° ìœ„í•´ì„œëŠ” ì–´ë–»ê²Œ í•´ì•¼ í• ê¹Œìš”?!

In [1]:
from scipy.stats import normaltest
import numpy as np

sample = np.random.poisson(5, 1000) # normal ë¶„í¬ê°€ ì•„ë‹˜
normaltest(sample)

NormaltestResult(statistic=39.909258134680755, pvalue=2.1568240007239498e-09)

In [2]:
sample2 = np.random.normal(size = 1000) # normal ë¶„í¬
normaltest(sample2)

NormaltestResult(statistic=2.527616693057946, pvalue=0.28257582805231596)

## Type of Error

<img src='https://i.imgur.com/JMCGnLZ.png'>

## More hypothesis testing

<img src='https://i.imgur.com/CqfM9t8.png'>

## Non-Parametric Methods

ëª¨ì§‘ë‹¨ì´ íŠ¹ì • í™•ë¥  ë¶„í¬ (normalê³¼ ê°™ì€)ë¥¼ ë”°ë¥¸ë‹¤ëŠ” ì „ì œë¥¼ **í•˜ì§€ ì•ŠëŠ”** ë°©ì‹.
parameter estimationì´ í•„ìš”í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— non-parametricì´ë¼ê³  ë¶€ë¦„

- Categorical ë°ì´í„°ë¥¼ ìœ„í•œ ëª¨ë¸ë§ 
- í˜¹ì€ ê·¹ë‹¨ì  outlierê°€ ìˆëŠ” ê²½ìš° ë§¤ìš°ë§¤ìš° ìœ íš¨í•œ ë°©ì‹

- `distribution free` methodë¼ê³  ë¶€ë¥´ê¸°ë„ í•¨.

- Chisquare
- Spearman correlation
- Run test
- Kolmogorov Smirnov
- Mann-Whitney U
- Wilcoxon
- Kruskal-Wallis 
ë“±

### Kruskal-Wallis Test (**ë¹„ëª¨ìˆ˜ì ** í‰ê·  ë¹„êµë²•)

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”

<https://dermabae.tistory.com/168>

In [3]:
# Kruskal-Wallis H-test - 2ê°œ ì´ìƒ ê·¸ë£¹ì˜ ì¤‘ìœ„ ë­í¬ë¥¼ í†µí•œ ì°¨ì´ ë¹„êµ ( extended X2 )
# ìƒ˜í”Œ ìˆ˜ê°€ > 5 ì¼ë•Œ ì¢‹ìŒ 
from scipy.stats import kruskal

x1 = [1, 3, 4, 8, 9]
y1 = [1, 4, 6, 7, 7]
kruskal(x1, y1) # ì•½ê°„ì€ ë‹¤ë¥´ì§€ë§Œ, "ìœ ì˜í•œ" ì°¨ì´ëŠ” ì•„ë‹˜

KruskalResult(statistic=0.01111111111111548, pvalue=0.91605107228188)

In [4]:
x2 = [12, 15, 18]
y2 = [24, 25, 26]
z = [40, 40]  # 3ë²ˆì§¸ ê·¸ë£¹ì€ ì‚¬ì´ì¦ˆê°€ ë‹¤ë¦„
kruskal(x2, y2, z)

KruskalResult(statistic=6.325301204819277, pvalue=0.042313436212501186)

## $\chi^2$ Tests

### One sample $\chi^2$ test

<img src='https://i.imgur.com/SnQFL2c.png'>

ì£¼ì–´ì§„ ë°ì´í„°ê°€ íŠ¹ì • ì˜ˆìƒë˜ëŠ” ë¶„í¬ì™€ ë™ì¼í•œ ë¶„í¬ë¥¼ ë‚˜íƒ€ë‚´ëŠ”ì§€ ì— ëŒ€í•œ ê°€ì„¤ê²€ì •.

Goodness of Fit testë¼ ë¶€ë¥´ê¸°ë„ í•©ë‹ˆë‹¤.

ì—¬ê¸°ì„œ ì˜ˆìƒ ë˜ëŠ” ë¹ˆë„ì˜ ê°’ì€ :

\begin{align}
\frac{\text{ì „ì²´ ë°ì´í„° ìˆ˜}}{\text{# ë°ì´í„°ì˜ ì¢…ë¥˜}}
\end{align}

ì…ë‹ˆë‹¤.

### $\chi^2$ í†µê³„ì¹˜ ì˜ ê³„ì‚°ì‹

\begin{align}
\chi^2 = \sum \frac{(observed_i-expected_i)^2}{(expected_i)}
\end{align}

<img src='https://i.imgur.com/lbgezU0.png' width = 450>

ê° ì°¨ì´ì˜ ê°’ì„ ì œê³±í•˜ëŠ” ê²ƒìœ¼ë¡œ, ëª¨ë“  ê°’ì„ ì–‘ìˆ˜ë¡œ ë§Œë“¤ê³  ê´€ì¸¡ê³¼ ì˜ˆì¸¡ê°’ì˜ **ì°¨ì´**ë¥¼ ë” ê°•ì¡°í•˜ëŠ” íš¨ê³¼ê°€ ìˆìŠµë‹ˆë‹¤.

## Statistics -> P-value 

<img src='https://i.imgur.com/7PY3TGX.png'>

### í†µê³„ì¹˜ë¥¼ pvalueë¡œ ë°”ê¾¸ëŠ” ë°©ë²•??

ì´ì œëŠ” êµ¬ê¸€ë§ì´ ìµìˆ™í•˜ì‹¤ ê²ƒì´ë¼ê³  ìƒê°í•©ë‹ˆë‹¤.

<img src='https://i.imgur.com/5yp1qpc.png'>

### P-value ê³„ì‚°ì„ ìœ„í•œ í†µê³„ì¹˜ ì‚¬ìš© : 

||A|B|
|:-:|:-:|:-:|
|X|9|2|
|Y|13|3|

(ìœ„ ë°ì´í„°ëŠ” ê³„ì‚°ì„ í•˜ë©´ $\chi^2$ = `0.00139`ê°€ ë‚˜ì˜¤ê³  ììœ ë„ëŠ” 1ì´ ë‚˜ì˜´)

`stats.chi2.pdf(x2, df)` 

<https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2.html>

[U Iowa chi^2 applet](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)

In [5]:
from scipy import stats

x2 = 0.00139

1 - stats.chi2.cdf(x2, df = ((2-1)*(2-1)) ) # pvalue : 0.97, ì—°ê´€ì´ ìˆë‹¤.

0.9702595963009745

In [6]:
import numpy as np
from scipy.stats import chisquare  

s_obs = np.array([[18, 22, 20, 15, 23, 22]]) # Similar
print('--- Similar ---')
chisquare(s_obs, axis=None) # One sample chi-square

--- Similar ---

Power_divergenceResult(statistic=2.3000000000000003, pvalue=0.8062668698851285)

In [7]:
ns_obs = np.array([[5, 23, 26, 19, 24, 23]])

print('--- not Similar ---')
chisquare(ns_obs, axis=None)

--- not Similar ---

Power_divergenceResult(statistic=14.8, pvalue=0.011251979028327346)

### Two sample $\chi^2$ test

<img src='https://i.imgur.com/iVGsbfi.png'>

<https://en.wikipedia.org/wiki/Chi-squared_test>

#### ğŸ´Kaggleì˜ [Food Choice ë°ì´í„°ì…‹](https://www.kaggle.com/borapajo/food-choices?select=food_coded.csv)ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

ë°ì´í„°ì…‹ ë‚´ë¶€ì— ì—¬ëŸ¬ í…ìŠ¤íŠ¸ ë°ì´í„°ê°€ ë§ì•„ì„œ ì›ë˜ëŠ” NLPë¥¼ ì‚¬ìš©í•´ì•¼ í•˜ì§€ë§Œ, ì§€ê¸ˆì€ categorical ë¶„ì„ì„ ìœ„í•˜ì—¬ ë¶€ë¶„ë§Œ ì‚¬ìš©í•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [8]:
import pandas as pd
food = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/food_choice/food_coded.csv')
food.head()

     GPA  Gender  ...  waffle_calories                    weight
0    2.4       2  ...             1315                       187
1  3.654       1  ...              900                       155
2    3.3       1  ...              900  I'm not answering this.
3    3.2       1  ...             1315             Not sure, 240
4    3.5       1  ...              760                       190

[5 rows x 61 columns]

- ì—¬ëŸ¬ ë°ì´í„° ì¤‘ `income`ê³¼ `pay_meal_out`, ê·¸ë¦¬ê³  `persian_food` ë³€ìˆ˜ì— ëŒ€í•´ì„œë§Œ ì‚¬ìš©í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [9]:
food[['income','pay_meal_out','persian_food']].dtypes

income          float64
pay_meal_out      int64
persian_food    float64
dtype: object

### Numerical -> Categorial 

#### Type casting

numerical ì´ì§€ë§Œ, continuousí•˜ì§€ ì•Šì•„ ë°”ë¡œ categoryë¡œ ì‚¬ìš© í•  ìˆ˜ ìˆëŠ” ê²½ìš°. 

ex) 1, 2, 3 -> `1`, `2`, `3`

#### Binning

numerical ì´ì§€ë§Œ, continuous í•´ì„œ êµ¬ê°„ë³„ë¡œ ë‚˜ëˆ„ì–´ ì‚¬ìš© í•  ìˆ˜ ìˆëŠ” ê²½ìš°. 

ex) 1.4, 2, 3.1, 2.8, 1.1, 2.5 -> `A` : 1 ~ 2, `B` : 2 ~ 3, `C` : 3 ~ 4

ì´ë²ˆ ë°ì´í„°ì—ì„œëŠ” ìœ— ë°©ì‹ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [10]:
small_food = food[['income','pay_meal_out','persian_food']].astype('category')

small_food.head()

  income pay_meal_out persian_food
0    5.0            2          5.0
1    4.0            4          4.0
2    6.0            3          5.0
3    6.0            2          5.0
4    6.0            4          2.0

## Run a $\chi^{2}$ Test (Numpyë¡œ ì§ì ‘ ê³„ì‚°)

ê°€ëŠ¥í•œ 3ê°€ì§€ì˜ ì¡°í•© ì¤‘ 2ê°€ì§€ì˜ ê²½ìš°ì— ëŒ€í•´ì„œë§Œ í•´ë³´ê² ìŠµë‹ˆë‹¤.

1) `income` & `pay_meal_out`

2) `pay_meal_out` & `persian_food`

In [11]:
obs = pd.crosstab(small_food['income'], small_food['pay_meal_out'])
obs

pay_meal_out  2   3  4  5  6
income
1.0           2   3  0  1  0
2.0           3   1  3  0  0
3.0           3   9  2  2  1
4.0           2  13  3  2  0
5.0           5  16  7  2  3
6.0           2  24  7  4  4

- Numpyë¡œ ê³„ì‚°í•˜ê¸°ì—ëŠ” categoryê°€ ë„ˆë¬´ ë§ìœ¼ë‹ˆ 3, 4 ë°ì´í„°ë§Œ ì‚¬ìš©í•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

| |pay = 3|pay = 4|
|:-:|:-:|:-:|
|income = 3|9|2|
|income = 4|13|3|


### ì˜ˆì¸¡ê°’ ê³„ì‚°
\begin{align}
expected_{i,j} =\frac{(row_{i} \text{total})(column_{j} \text{total}) }{(\text{total observations})}  
\end{align}

í•´ë‹¹ ë‚´ìš©ì— ëŒ€í•œ ì¶”ê°€ ì„¤ëª…ê³¼ ì˜ˆì‹œëŠ” urclassë¥¼ ( **2 Sample chi-square Expected Value** ) ì°¸ì¡°í•˜ì„¸ìš”.

In [12]:
obs = np.array([[9, 2], [13, 3]])
obs

array([[ 9,  2],
       [13,  3]])

In [13]:
total_obs = np.sum(obs)
total_obs

27

In [14]:
exp = np.array([[(9+2)*(9+13), (9+2)*(2+3)], [(13+3)*(9+13), (13+3)*(2+3)]])

exp = exp / total_obs
exp

array([[ 8.96296296,  2.03703704],
       [13.03703704,  2.96296296]])

### $\chi^{2}$ í†µê³„ì¹˜ ê³„ì‚°

\begin{align}
\chi^2 = \sum \frac{(observed_i-expected_i)^2}{(expected_i)}
\end{align}

In [15]:
squared = np.power(obs - exp, 2)
squared

array([[0.00137174, 0.00137174],
       [0.00137174, 0.00137174]])

In [16]:
x2 = np.sum(squared / exp)
x2

0.0013946280991735537

2-sampe $\chi^2$ testì˜ ììœ ë„ (Degree of Freedom) ëŠ” 1-sampleê³¼ëŠ” ì¡°ê¸ˆ ë‹¤ë¦…ë‹ˆë‹¤.

1-sample (ì í•©ë„ ê²€ì •), DF = # categories-1

2-sample (ë…ë¦½ì„± ê²€ì •), DF = (#í–‰ - 1)*(#ì—´ - 1)

DF: (2-1)*(2-1) = 1

## ììœ ë„ (Degrees of Freedom)

ğŸ¦ì¼ì£¼ì¼ ë‚´ë‚´ ë°°ë¼ë¥¼ ê°€ì„œ ì½˜ì„ í•˜ë‚˜ì”© ë¨¹ëŠ” ë°©ë²• 

<img src='https://img.insight.co.kr/static/2019/04/29/700/38bos292jy902138q5j7.jpg' width = 450>

**ì „ì²´ ë©”ë‰´ëŠ” 7ê°œë§Œ ì´ë¼ê³  ê°€ì •**

- ì›”ìš”ì¼ - 7ê°œì˜ ì„ íƒ (ë¯¼ì´ˆ)
- í™”ìš”ì¼ - 6ê°œì˜ ì„ íƒ (ë°”ë‹ë¼)
- ìˆ˜ìš”ì¼ - 5ê°œì˜ ì„ íƒ (ë…¹ì°¨)
- ëª©ìš”ì¼ ...
- ì¼ìš”ì¼ - ì„ íƒì§€ê°€ ì—†ìŒ ğŸ”¥ (ììœ ë„ X)

ë”°ë¼ì„œ ì´ ë¬¸ì œì— ëŒ€í•œ ììœ ë„ëŠ” n - 1 = 6

ììœ ë„ = í•´ë‹¹ parameterë¥¼ ê²°ì •ì§“ê¸° ìœ„í•œ **ë…ë¦½ì ìœ¼ë¡œ ì •í•´ì§ˆ ìˆ˜ ìˆëŠ” ê°’ì˜ ìˆ˜.**

ì˜ˆì‹œ 

1) ì¼ì£¼ì¼ ë™ì•ˆ 7ì¢…ë¥˜ì˜ ì•„ì´ìŠ¤í¬ë¦¼

2) 1-sample t-testë¥¼ ìœ„í•œ 10ê°œì˜ value. 

3) X2 test

4) regression

## Scipyë¥¼ ì´ìš©í•œ $\chi^{2}$ í…ŒìŠ¤íŠ¸

1) ê·€ë¬´ê°€ì„¤ : ë‘ ë³€ìˆ˜ê°„ ì—°ê´€ì´ ì—†ë‹¤.

2) ëŒ€ë¦½ê°€ì„¤ : ë‘ ë³€ìˆ˜ê°„ ì—°ê´€ì´ ìˆë‹¤.

3) ì‹ ë¢°êµ¬ê°„ : 95%

In [17]:
## 2 sample chi square test

# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html

print(exp)

from scipy.stats import chi2_contingency

print('---')
print(chi2_contingency(obs)) # correction íŒŒë¼ë¯¸í„°ê°€ Trueë¡œ ì„¤ì • :  Yatesâ€™ correction ì‹œí–‰í•¨ : pvalueëŠ” ì•½ê°„ ë‹¤ë¦„

print('---')
print(chi2_contingency(obs, correction = False)) # ìœ„ì—ì„œ ê³„ì‚°í•œ ê²ƒê³¼ ë™ì¼

[[ 8.96296296  2.03703704]
 [13.03703704  2.96296296]]
---
(0.21791064049586775, 0.6406365376905525, 1, array([[ 8.96296296,  2.03703704],
       [13.03703704,  2.96296296]]))
---
(0.0013946280991735537, 0.9702101490749658, 1, array([[ 8.96296296,  2.03703704],
       [13.03703704,  2.96296296]]))

## chi2_contingency ê²°ê³¼ í•´ì„

1 : $\chi^2$ statistic
2 : p-value
3 : degree of freedom
4 : expected value for Observed

### ë‹¤ë¥¸ ì˜ˆì‹œ

In [18]:
obs2 = pd.crosstab(food['income'], food['persian_food'])
obs2

persian_food  1.0  2.0  3.0  4.0  5.0
income
1.0             2    1    0    1    2
2.0             1    1    1    0    4
3.0             3    5    4    2    2
4.0             3    3    8    4    2
5.0             8    6    8    5    6
6.0            12   10    8    4    7

In [19]:
obs3 = pd.crosstab(food['income'], food['pay_meal_out'])
obs3

pay_meal_out  2   3  4  5  6
income
1.0           2   3  0  1  0
2.0           3   1  3  0  0
3.0           3   9  2  2  1
4.0           2  13  3  2  0
5.0           5  16  7  2  3
6.0           2  24  7  4  4

In [20]:
# ?chi2_contingency

from scipy.stats import chi2_contingency

print(chi2_contingency(obs2, correction = False)) 

print(chi2_contingency(obs2, correction = True))

# ë‘ ê²½ìš° ëª¨ë‘ pvalue : 0.6269 ì—°ê´€ì´ ì—†ë‹¤.

(17.39813674425275, 0.6269901597010257, 20, array([[1.41463415, 1.26829268, 1.41463415, 0.7804878 , 1.12195122],
       [1.6504065 , 1.4796748 , 1.6504065 , 0.91056911, 1.30894309],
       [3.77235772, 3.38211382, 3.77235772, 2.08130081, 2.99186992],
       [4.71544715, 4.22764228, 4.71544715, 2.60162602, 3.7398374 ],
       [7.7804878 , 6.97560976, 7.7804878 , 4.29268293, 6.17073171],
       [9.66666667, 8.66666667, 9.66666667, 5.33333333, 7.66666667]]))
(17.39813674425275, 0.6269901597010257, 20, array([[1.41463415, 1.26829268, 1.41463415, 0.7804878 , 1.12195122],
       [1.6504065 , 1.4796748 , 1.6504065 , 0.91056911, 1.30894309],
       [3.77235772, 3.38211382, 3.77235772, 2.08130081, 2.99186992],
       [4.71544715, 4.22764228, 4.71544715, 2.60162602, 3.7398374 ],
       [7.7804878 , 6.97560976, 7.7804878 , 4.29268293, 6.17073171],
       [9.66666667, 8.66666667, 9.66666667, 5.33333333, 7.66666667]]))

In [21]:
print(chi2_contingency(obs3, correction = False)) 

print(chi2_contingency(obs3, correction = True))
# ë‘ ê²½ìš° ëª¨ë‘ pvalue : 0.428 ë§ˆì°¬ê°€ì§€ë¡œ ì—°ê´€ì´ ì—†ë‹¤.

(20.636176576151563, 0.41881793144098334, 20, array([[ 0.82258065,  3.19354839,  1.06451613,  0.53225806,  0.38709677],
       [ 0.95967742,  3.72580645,  1.24193548,  0.62096774,  0.4516129 ],
       [ 2.33064516,  9.0483871 ,  3.01612903,  1.50806452,  1.09677419],
       [ 2.74193548, 10.64516129,  3.5483871 ,  1.77419355,  1.29032258],
       [ 4.52419355, 17.56451613,  5.85483871,  2.92741935,  2.12903226],
       [ 5.62096774, 21.82258065,  7.27419355,  3.63709677,  2.64516129]]))
(20.636176576151563, 0.41881793144098334, 20, array([[ 0.82258065,  3.19354839,  1.06451613,  0.53225806,  0.38709677],
       [ 0.95967742,  3.72580645,  1.24193548,  0.62096774,  0.4516129 ],
       [ 2.33064516,  9.0483871 ,  3.01612903,  1.50806452,  1.09677419],
       [ 2.74193548, 10.64516129,  3.5483871 ,  1.77419355,  1.29032258],
       [ 4.52419355, 17.56451613,  5.85483871,  2.92741935,  2.12903226],
       [ 5.62096774, 21.82258065,  7.27419355,  3.63709677,  2.64516129]]))

In [22]:
# ê·¹ë‹¨ì ì¸ ì°¨ì´ë¥¼ ìœ„í•´ ê°€ìƒì˜ ê°’ì„ ì‚¬ìš©
chi2_contingency(np.array( [[3, 20], [17, 2]] ))

(21.399511129602665,
 3.7286624805140315e-06,
 1,
 array([[10.95238095, 12.04761905],
        [ 9.04761905,  9.95238095]]))