<a href="https://colab.research.google.com/github/ttogle918/ds-section1-sprint1/blob/master/n111-eda/n111a_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# 📝 Assignment

## 1.데이터셋 불러오기 연습

다음 url에서 엑셀 파일을 불러오세요. (pandas excel)

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx>

  - 데이터셋 변수의 이름은 `df1`, `df2`로 저장하세요.
  - row가 아닌 column에 '매출액', '영업이익' 이 가도록 데이터를 transpose 하세요.
  - 이후 아래 링크를 참조하여 첫번째 row를 column name으로 설정하세요.

<https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row>

- 파일은 2개의 시트로 구성되어 있으며 각각 이름은 `008770`, `035250` 입니다.

In [34]:
# 이 곳에 답안을 작성하시길 바랍니다
import pandas as pd

travel_url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'

# column_headers = ['매출액','영업이익','영업이익(발표기준)','세전계속사업이익','당기순이익','당기순이익(지배)','당기순이익(비지배)','자산총계','부채총계',
#                   '자본총계','자본총계(지배)','자본총계(비지배)','자본금','영업활동현금흐름',
#                   '투자활동현금흐름','재무활동현금흐름','CAPEX','FCF', '이자발생부채','영업이익률','순이익률','ROE(%)',
#                   'ROA(%)','부채비율','자본유보율','EPS(원)','PER(배)','BPS(원)', 'PBR(배)', '현금DPS(원)', '현금배당수익률', '현금배당성향(%)']

df1 = pd.read_excel(travel_url, sheet_name='008770 ') # sheet_name=0
df2 = pd.read_excel(travel_url, sheet_name='035250')

df1 = df1.transpose()
df2 = df2.transpose()

df1.columns = column_headers
df2.columns = column_headers

## 2. 데이터 확인

- 데이터의 dimension을 확인하세요.
- 데이터의 결측치가 어디에 있는지 확인 후 0으로 대체하세요.
- 각 데이터 별로 **FCF**의 값을 barplot으로 시각화하세요.
  - 0보다 큰 값인 셀 개수의 총합을 `num1`에, 작은 값인 셀 개수의 총합을 `num2`에 저장하세요

In [28]:
print(df1.shape)
print(df2.shape)

df1 = df1.fillna('0')
df2 = df2.fillna('0')

import matplotlib.pyplot as plt
import numpy as np

# df1['FCF'].plot.barh()
# df2['FCF'].plot.bar()

print(len(df1))

islarge_zero = float(df1['FCF']) > 0
issmall_zero = float(df1['FCF']) < 0

num1 = sum(df1[islarge_zero])
num2 = sum(df1[issmall_zero])

islarge_zero = float(df2['FCF']) > 0
issmall_zero = float(df2['FCF']) < 0

num1 = num1 + sum(df2[islarge_zero])
num2 = num2 + sum(df2[issmall_zero])


# plt.show()

(9, 32)
(9, 32)
9

TypeError: ignored

## 3. File export

- 읽었던 엑셀 파일의 내용을 2개의 csv로 각각 출력하세요. (python export csv)

  - 이름은 각각 `df1.csv`, `df2.csv` 입니다.

In [29]:
# 이 곳에 답안을 작성하시길 바랍니다
df1.to_csv ('./df1.csv', index = True, header=True)
df2.to_csv ('./df2.csv', index = True, header=True)

## 4. Error Handling

- 다음의 에러를 고치세요. 결과값은 6912가 나와야합니다.

In [4]:
a = '1234'
b = 5678

int(a)+int(b)

6912

## 5. EDA

아래의 코드는 palmer penguin 데이터를 불러올 수 있는 코드입니다.

```python
import seaborn as sns

pp = sns.load_dataset('penguins')
```

이를 참조하여, `pp`의 `species`와 `sex`변수에 대해서 cross-tabulation을 시행하고, 6개의 값들 중 가장 큰 값을 `num3`에, 가장 작은 값을 `num4`에 저장하세요.

In [32]:
# 이 곳에 답안을 작성하시길 바랍니다
import seaborn as sns

pp = sns.load_dataset('penguins')

cross_tab = pd.crosstab(index = pp.species, columns = pp.sex)
print(cross_tab)
num3 = max(cross_tab.max())
num4 = min(cross_tab.min())
print(num3, num4)

sex        Female  Male
species
Adelie         73    73
Chinstrap      34    34
Gentoo         58    61
73 34

## 🔥 도전과제

### penguins 데이터를 계속 사용합니다.

이에 대해 아래의 task들을 시행하세요.

- 결측치 처리 (제거)

- bill_length_mm에 대해서 qqplot 그리기

- island에 대해서 다른 4개의 numerical feature 를 boxplot으로 표현하기

- 각 numerical feature에 대해서 summary statistics : mean, sd, Quantiles(1Q, 2Q, 3Q, 4Q)를 계산하세요.

In [ ]:
# 이 곳에 답안을 작성하시길 바랍니다