<a href="https://colab.research.google.com/github/ttogle918/ds-section1-sprint1/blob/master/n111-eda/n111a_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# ğŸ“ Assignment

## 1.ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° ì—°ìŠµ

ë‹¤ìŒ urlì—ì„œ ì—‘ì…€ íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. (pandas excel)

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx>

  - ë°ì´í„°ì…‹ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df1`, `df2`ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - rowê°€ ì•„ë‹Œ columnì— 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ' ì´ ê°€ë„ë¡ ë°ì´í„°ë¥¼ transpose í•˜ì„¸ìš”.
  - ì´í›„ ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ì²«ë²ˆì§¸ rowë¥¼ column nameìœ¼ë¡œ ì„¤ì •í•˜ì„¸ìš”.

<https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row>

- íŒŒì¼ì€ 2ê°œì˜ ì‹œíŠ¸ë¡œ êµ¬ì„±ë˜ì–´ ìˆìœ¼ë©° ê°ê° ì´ë¦„ì€ `008770`, `035250` ì…ë‹ˆë‹¤.

In [34]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤
import pandas as pd

travel_url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'

# column_headers = ['ë§¤ì¶œì•¡','ì˜ì—…ì´ìµ','ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)','ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ','ë‹¹ê¸°ìˆœì´ìµ','ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)','ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)','ìì‚°ì´ê³„','ë¶€ì±„ì´ê³„',
#                   'ìë³¸ì´ê³„','ìë³¸ì´ê³„(ì§€ë°°)','ìë³¸ì´ê³„(ë¹„ì§€ë°°)','ìë³¸ê¸ˆ','ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
#                   'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„','ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„','CAPEX','FCF', 'ì´ìë°œìƒë¶€ì±„','ì˜ì—…ì´ìµë¥ ','ìˆœì´ìµë¥ ','ROE(%)',
#                   'ROA(%)','ë¶€ì±„ë¹„ìœ¨','ìë³¸ìœ ë³´ìœ¨','EPS(ì›)','PER(ë°°)','BPS(ì›)', 'PBR(ë°°)', 'í˜„ê¸ˆDPS(ì›)', 'í˜„ê¸ˆë°°ë‹¹ìˆ˜ìµë¥ ', 'í˜„ê¸ˆë°°ë‹¹ì„±í–¥(%)']

df1 = pd.read_excel(travel_url, sheet_name='008770 ') # sheet_name=0
df2 = pd.read_excel(travel_url, sheet_name='035250')

df1 = df1.transpose()
df2 = df2.transpose()

df1.columns = column_headers
df2.columns = column_headers

## 2. ë°ì´í„° í™•ì¸

- ë°ì´í„°ì˜ dimensionì„ í™•ì¸í•˜ì„¸ìš”.
- ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ê°€ ì–´ë””ì— ìˆëŠ”ì§€ í™•ì¸ í›„ 0ìœ¼ë¡œ ëŒ€ì²´í•˜ì„¸ìš”.
- ê° ë°ì´í„° ë³„ë¡œ **FCF**ì˜ ê°’ì„ barplotìœ¼ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.
  - 0ë³´ë‹¤ í° ê°’ì¸ ì…€ ê°œìˆ˜ì˜ ì´í•©ì„ `num1`ì—, ì‘ì€ ê°’ì¸ ì…€ ê°œìˆ˜ì˜ ì´í•©ì„ `num2`ì— ì €ì¥í•˜ì„¸ìš”

In [28]:
print(df1.shape)
print(df2.shape)

df1 = df1.fillna('0')
df2 = df2.fillna('0')

import matplotlib.pyplot as plt
import numpy as np

# df1['FCF'].plot.barh()
# df2['FCF'].plot.bar()

print(len(df1))

islarge_zero = float(df1['FCF']) > 0
issmall_zero = float(df1['FCF']) < 0

num1 = sum(df1[islarge_zero])
num2 = sum(df1[issmall_zero])

islarge_zero = float(df2['FCF']) > 0
issmall_zero = float(df2['FCF']) < 0

num1 = num1 + sum(df2[islarge_zero])
num2 = num2 + sum(df2[issmall_zero])


# plt.show()

(9, 32)
(9, 32)
9

TypeError: ignored

## 3. File export

- ì½ì—ˆë˜ ì—‘ì…€ íŒŒì¼ì˜ ë‚´ìš©ì„ 2ê°œì˜ csvë¡œ ê°ê° ì¶œë ¥í•˜ì„¸ìš”. (python export csv)

  - ì´ë¦„ì€ ê°ê° `df1.csv`, `df2.csv` ì…ë‹ˆë‹¤.

In [29]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤
df1.to_csv ('./df1.csv', index = True, header=True)
df2.to_csv ('./df2.csv', index = True, header=True)

## 4. Error Handling

- ë‹¤ìŒì˜ ì—ëŸ¬ë¥¼ ê³ ì¹˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 6912ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [4]:
a = '1234'
b = 5678

int(a)+int(b)

6912

## 5. EDA

ì•„ë˜ì˜ ì½”ë“œëŠ” palmer penguin ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆëŠ” ì½”ë“œì…ë‹ˆë‹¤.

```python
import seaborn as sns

pp = sns.load_dataset('penguins')
```

ì´ë¥¼ ì°¸ì¡°í•˜ì—¬, `pp`ì˜ `species`ì™€ `sex`ë³€ìˆ˜ì— ëŒ€í•´ì„œ cross-tabulationì„ ì‹œí–‰í•˜ê³ , 6ê°œì˜ ê°’ë“¤ ì¤‘ ê°€ì¥ í° ê°’ì„ `num3`ì—, ê°€ì¥ ì‘ì€ ê°’ì„ `num4`ì— ì €ì¥í•˜ì„¸ìš”.

In [32]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤
import seaborn as sns

pp = sns.load_dataset('penguins')

cross_tab = pd.crosstab(index = pp.species, columns = pp.sex)
print(cross_tab)
num3 = max(cross_tab.max())
num4 = min(cross_tab.min())
print(num3, num4)

sex        Female  Male
species
Adelie         73    73
Chinstrap      34    34
Gentoo         58    61
73 34

## ğŸ”¥ ë„ì „ê³¼ì œ

### penguins ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.

ì´ì— ëŒ€í•´ ì•„ë˜ì˜ taskë“¤ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ê²°ì¸¡ì¹˜ ì²˜ë¦¬ (ì œê±°)

- bill_length_mmì— ëŒ€í•´ì„œ qqplot ê·¸ë¦¬ê¸°

- islandì— ëŒ€í•´ì„œ ë‹¤ë¥¸ 4ê°œì˜ numerical feature ë¥¼ boxplotìœ¼ë¡œ í‘œí˜„í•˜ê¸°

- ê° numerical featureì— ëŒ€í•´ì„œ summary statistics : mean, sd, Quantiles(1Q, 2Q, 3Q, 4Q)ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤