<a href="https://colab.research.google.com/github/ttogle918/ds-section1-sprint1/blob/master/n112a_feature_engineering_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|


ì´ìƒì¹˜
ì˜ëª»ëœ ê°’ì´ ì•„ë‹ˆë¼ë©´.. ëª¨ë‘ ë‹¤ í‰ê· ë²”ì£¼ëŠ” ì•„ë‹ ìˆ˜ ìˆë‹¤.. ì‹¤ì œ ê°’ì˜ ë²”ìœ„ëŠ” ë„“ë‹¤.?
ì˜ëª»ì…ë ¥ëœ ê°’ í˜¹ì€ í‰ê·  ë²”ì£¼ë¥¼ ë²—ì–´ë‚œ ê°’

In [19]:
import pandas as pd
from pandas import Series, DataFrame

url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']
def toInt(str1):
  if type(str1) == int or type(str1) == float:
    return str1
  return int(str1.replace(',', ''))

def toFloat(str1):
  if type(str1) == float :
    return str1
  return float(str1.replace(',', ''))
df = pd.read_csv(url, names=headers)

# ì˜ì—…ì´ìµë¥  = ì˜ì—…ì´ìµ/ë§¤ì¶œì•¡ * 100
df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµ'].apply(toInt) / df['ë§¤ì¶œì•¡'].apply(toInt) * 100

# TAM : ì „ì²´ ì‹œì¥ ê·œëª¨
# PDR = ê¸°ì—…ê°€ì¹˜(ì‹œê°€ì´ì•¡) / (TAM * ì‹œì¥ì ìœ ìœ¨)
# ê¸°ì—…ê°€ì¹˜(EV) = ì‹œê°€ì´ì•¡(MC) + ì´ë¶€ì±„(Total Debt) - í˜„ê¸ˆ ë° í˜„ê¸ˆì„± ìì‚°(C)
# ì‹œê°€ì´ì•¡ = ìë³¸ì´ê³„
df2 = DataFrame({'êµ¬ë¶„': ['18ë…„', '19ë…„'], 'ì¢…ê°€': [101500, 93800], 'ë°œí–‰ì£¼ì‹ìˆ˜': [137292497, 137292497], 
                 'ì‹œê°€ì´ì•¡': ['13935188445500', '12878036218600'], 'ì‹œì¥ì ìœ ìœ¨':[62.0, 63.5], 'ì‹œì¥ì˜ê·œëª¨' :[15000000000000, 15000000000000]})


df2['PDR'] = df2['ì‹œê°€ì´ì•¡'].apply(toInt) / ( df2['ì‹œì¥ì˜ê·œëª¨'] + df2['ì‹œì¥ì ìœ ìœ¨']) 
# dataë¥¼ ì •ìˆ˜(ìˆ«ì)ë¡œ ì…ë ¥í–ˆëŠ”ë°, Int, floatë¡œ.. typeìºìŠ¤íŒ… í• ë ¤ê³  í•˜ë‹ˆê¹Œ ê³„ì† ì—ëŸ¬ê°€ ë‚¬ìŒ.
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12,578  3,991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13,222  3,825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11,982  2,523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11,784  3,150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13,188  3,947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [13]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤
def removeComma(string) :
  newstr = ""
  start = 0
  f = string.find(',')
  newstr = string[0:f]
  while f > 0 :
    f = string[f+1:].find(',') 
    newstr += oldstr[:finded]
    start = finded+1
  newstr = newstr + oldstr[finded+1:]
  return newstr

def findYear(string) :
  if int(string[:2]) == 19 :
    return True
  return False

# li = df.loc[df['ë¶„ê¸°'].apply(findYear) == True, ['ë§¤ì¶œì•¡']].sum(axis=1) # ë¶„ê¸°ë³„
num1 = df.loc[df['ë¶„ê¸°'] == '19/6', ['ë§¤ì¶œì•¡']]
num1['ë§¤ì¶œì•¡'] = num1['ë§¤ì¶œì•¡'].apply(toInt)

num1
# dataframe -> numeric : ìˆ«ìí˜•ìœ¼ë¡œ ë°”ê¾¸ê¸°

     ë§¤ì¶œì•¡
0  12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

------
df[i].apply(toFloat) í–ˆì„ ë•Œ dstypeìœ¼ë¡œ í™•ì¸í•˜ë©´ object íƒ€ì…ì´ ë‚˜ì˜¨ë‹¤.

df[i]ì— ì ìš©ì´ ì•ˆëœê²ƒ!

df[i] = df[i].apply(toFloat)ë¡œ í•´ì•¼í•œë‹¤.


df.describe() : í‰ê· , í‘œì¤€ ë° IQRê°’ì„ ì œê³µ
ë¬¸ìì—´ì€ ì œì™¸í•˜ê³  ìˆ«ì ì—´ì— ëŒ€í•´ì„œë§Œ ìš”ì•½ í†µê³„ë¥¼ ê³„ì‚°

ê·¸ë˜ì„œ describe()ë¥¼ í•˜ê¸° ìœ„í•´ì„œëŠ” ìˆ˜ì¹˜í˜• ë°ì´í„°ë¡œ íƒ€ì… ë³€í™˜ì„ í•´ì•¼í•œë‹¤!

ë¬¼ë¡  ë¬¸ìì—´ì— ëŒ€í•´ì„œë„ ìš”ì•½ í†µê³„ê°€ ê°€ëŠ¥í•˜ë‹¤ -> df.describe(include=['object'])

í˜¹ì€ ëª¨ë“  ì—´ì— ëŒ€í•´ì„œ ìš”ì•½ í†µê³„ë„ ê°€ëŠ¥í•˜ë‹¤ -> df.describe(include='all')

float32ë¡œ ë°”ê¾¸ë ¤ë©´ ì–´ë–»ê²Œ í•´ì•¼í• ê¹Œ?

In [18]:
import numpy as np
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤
df = df.fillna('0')
# print(df.dtypes)
# %(ë°±ë¶„ìœ¨) ë§Œ floatí˜•ì‹. ìë³¸ì´ê³„(ë¹„ì§€ë°°)ëŠ” floatí˜•ì‹ì´ì—ˆì§€ë§Œ, ì›ìœ¼ë¡œ ëë‚œë‹¤ëŠ” ê°€ì •í•˜ì— intë¡œ ë³€í™˜.
for i in headers :
  if i == 'ë¶„ê¸°' :
    continue
  
  if i == 'ì˜ì—…ì´ìµë¥ ' or i == 'ìˆœì´ìµë¥ ' or i == 'ROE(%)' or i == 'ROA(%)' or i == 'ë¶€ì±„ë¹„ìœ¨' or i == 'ìë³¸ìœ ë³´ìœ¨' or i == 'PER(ë°°)' or i == 'ì˜ì—…ì´ìµë¥ 2' :
    df[i] = df[i].apply(toFloat)
    continue
  
  df[i] = df[i].apply(toInt)

df
# df = df.astype({'ë§¤ì¶œì•¡':int, 'ì˜ì—…ì´ìµ':int, 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)':int, 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ':int,
#            'ë‹¹ê¸°ìˆœì´ìµ':int, 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)':int, 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)':int, 'ìì‚°ì´ê³„':int, 'ë¶€ì±„ì´ê³„':int,
#            'ìë³¸ì´ê³„':int, 'ìë³¸ì´ê³„(ì§€ë°°)':int, 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)':int, 'ìë³¸ê¸ˆ':int, 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„':int,
#            'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„':int, 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„':int, 'ì˜ì—…ì´ìµë¥ ':np.float, 'ìˆœì´ìµë¥ ':np.float, 'ROE(%)':np.float,
#            'ROA(%)':np.float, 'ë¶€ì±„ë¹„ìœ¨':np.float, 'ìë³¸ìœ ë³´ìœ¨':np.float, 'EPS(ì›)':int, 'PER(ë°°)':np.float})

print(df.dtypes)
print('------------------------------------------------------------------------------')
print(df.describe())

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object
------------------------------------------------------------------------------
                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.675106
std      664.979097   636.931079  ...   1.898112   4.116711
min    11784.000000  2523.000000  ...   9.710000  21.056585
25%    11982.000000  3150.000000  ...  10.460000  26.731161
50%    12578.000000  3825.000000  ...  12.420000  28.929058
75%    13188.000000  3947.000000  ...  13.770000  29.928723
max    13222.000000  3991.000000  ...  13.870000  31.730005

[8 rows x 25 columns]

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤