<a href="https://colab.research.google.com/github/ttogle918/ds-section2-sprint3/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# üìù Assignment
---
# Data Wrangling

### ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞ wrangling

In [1]:
# google ÎìúÎùºÏù¥Î∏åÏóê Î°úÏª¨ ÌååÏùº ÏóÖÎ°úÎìú
from google.colab import files, drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
credits = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/credits.csv")
keywords = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/keywords.csv")
links = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links.csv")
links_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links_small.csv")
movies_metadata = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/movies_metadata.csv")
ratings = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings.csv")
ratings_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings_small.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
import pandas as pd
import numpy as np
import ast
import re
from collections import Counter

In [4]:
import ast
def getDataFrame(s) :
  if s[0] == '\'' :
    s = s[1:-1]
  if str(s)[0] == '{' :
    df = pd.DataFrame([ast.literal_eval(s)])
  if str(s)[0] == '[' :
    df = pd.DataFrame(ast.literal_eval(s))
  else :
    df = s
    print(s)
  return df

In [5]:
print(credits.shape)
credits.head(1)

(45476, 3)

                                                cast  ...   id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  862

[1 rows x 3 columns]

In [6]:
len(credits['id'].unique()) # idÎãπ Ìïú rowÍ∞Ä ÏïÑÎãàÎã§!

45432

In [7]:
print(keywords.shape)
keywords.head(1)

(46419, 2)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [8]:
print(links.shape)
links.head(1)

(45843, 3)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [9]:
print(links_small.shape)
links_small.head(1)

(9125, 3)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [10]:
print(movies_metadata.shape)
movies_metadata.head(1)

(45466, 24)

   adult  ... vote_count
0  False  ...     5415.0

[1 rows x 24 columns]

In [11]:
print(ratings.shape)
ratings.head(1)

(26024289, 4)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529

In [12]:
print(ratings_small.shape)
ratings_small.head(1)

(100004, 4)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

### credits : Í∑π Ï§ë Îì±Ïû•Ïù∏Î¨ºÏóê ÎåÄÌïú Ï†ïÎ≥¥ÏôÄ Ï†úÏûëÏßÑÏóê ÎåÄÌïú Ï†ïÎ≥¥Î•º Îã¥Í≥†ÏûàÎäî dataframe

In [13]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [14]:
# 1. Ï§ëÎ≥µÎêú Í∞í ÏßÄÏö∞Í∏∞
credits.duplicated().sum()

37

In [15]:
credits = credits.drop_duplicates()

In [16]:
print('empty cast', len(credits[credits.cast == '[]']) )
print('empty crew', len(credits[credits.crew == '[]']) )

empty cast 2414
empty crew 771

In [17]:
# 2. nullÍ∞í, emptyÍ∞í ÌôïÏù∏ -> ÏßÄÏö∞Í∏∞
credits = credits[(credits.cast != '[]') & (credits.crew != '[]')]
credits.shape

(42675, 3)

In [18]:
print(len(credits['id'].unique())) # idÎãπ Ìïú rowÍ∞Ä ÏïÑÎãàÎã§!

42668

In [19]:
# castÏùò ÎÇ¥Ïö©ÏùÄ Í∞ôÍ≥† credit_idÏùò Í∞íÎßå Îã§Î•¥Í∏∞ ÎïåÎ¨∏Ïóê ÏÇ≠Ï†úÌï¥ÎèÑ ÎêúÎã§ -> idÎäî unique()
credits = credits.drop(credits[credits['id'].duplicated() == True].index)
print(credits.shape)
credits.head(3)

(42668, 3)

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602

[3 rows x 3 columns]

### cast

In [20]:
# 4. castÏóêÏÑú Î∞∞Ïö∞ Ïù¥Î¶Ñ Îî∞Î°ú Ï†ÄÏû•, crewÏóêÏÑú Í∞êÎèÖ Ïù¥Î¶Ñ Îî∞Î°ú Ï†ÄÏû•
# string ÌòïÌÉúÎ°ú data ÌòïÌÉú Î∞îÍæ∏Í∏∞
li = [entry['name'] for entry in  ast.literal_eval(credits.cast[0])[0:4]]
li

['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney']

In [21]:
# cast ÏÉÅÏúÑ 8Î™ÖÎßå
import re

def set_list_to_string(s, idx, to) :
  if to == 0 :
    t_dict = ast.literal_eval(s)
    return [re.sub(r'[^\w]', '_',re.sub(r'[^\w\s]', '', entry[idx])) for entry in t_dict]
  
  t_dict = ast.literal_eval(s)[0:to]
  return [re.sub(r'[^\w]', '_',re.sub(r'[^\w\s]', '', entry[idx])) for entry in t_dict]

In [22]:
credits['actors'] = credits.cast.apply(set_list_to_string, idx='name', to=8)
credits['actors'].head(10)

0    [Tom_Hanks, Tim_Allen, Don_Rickles, Jim_Varney...
1    [Robin_Williams, Jonathan_Hyde, Kirsten_Dunst,...
2    [Walter_Matthau, Jack_Lemmon, AnnMargret, Soph...
3    [Whitney_Houston, Angela_Bassett, Loretta_Devi...
4    [Steve_Martin, Diane_Keaton, Martin_Short, Kim...
5    [Al_Pacino, Robert_De_Niro, Val_Kilmer, Jon_Vo...
6    [Harrison_Ford, Julia_Ormond, Greg_Kinnear, An...
7    [Jonathan_Taylor_Thomas, Brad_Renfro, Rachael_...
8    [JeanClaude_Van_Damme, Powers_Boothe, Dorian_H...
9    [Pierce_Brosnan, Sean_Bean, Izabella_Scorupco,...
Name: actors, dtype: object

In [23]:
# Í∞ÄÏû• ÎßéÏù¥ ÎÇòÏò® Î∞∞Ïö∞ 40Î™ÖÏùÑ most_popular_acctorsÏù¥ÎùºÍ≥† Í∞ÄÏ†ï
from collections import Counter

actor_count = Counter([name for names_per_film in credits.actors.values for name in names_per_film])
most_popular_actors = [entry[0] for entry in actor_count.most_common(40)]
credits['number_of_named_actors'] = credits['actors'].apply(len)
credits.head(3)

                                                cast  ... number_of_named_actors
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...                      8
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...                      8
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...                      7

[3 rows x 5 columns]

In [24]:
def listToString(item_list):
  return r' '.join(item_list)

credits['actors'] = credits['actors'].apply(listToString)

### Crew

In [25]:
credits['crew'] = credits.crew.apply(set_list_to_string, idx='name', to=4)
credits.crew[0]

['John_Lasseter', 'Joss_Whedon', 'Andrew_Stanton', 'Joel_Cohen']

In [26]:
# Í∞ÄÏû• ÎßéÏù¥ ÎÇòÏò® crew 40Î™ÖÏùÑ most_popular_crewÎùºÍ≥† Í∞ÄÏ†ï
from collections import Counter

crew_count = Counter([name for names_per_film in credits.crew.values for name in names_per_film])
most_popular_crews = [entry[0] for entry in crew_count.most_common(40)]
credits['number_of_named_crews'] = credits['crew'].apply(len)

credits['crew'] = credits['crew'].apply(listToString)
credits.head(3)

                                                cast  ... number_of_named_crews
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...                     4
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...                     4
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...                     4

[3 rows x 6 columns]

In [27]:
credits = credits.drop(['cast'], axis=1)

### Î∞∞Ïö∞Îì§Ïù¥ ÏòÅÌôîÏóê Ï£ºÏó∞ÏúºÎ°ú Ï∂úÏó∞Ìïú ÏàòÏóê Îî∞Î•∏ Í∑∏ÎûòÌîÑÏôÄ ÏòÅÌôîÏóê Ï∞∏Ïó¨Ìïú ÌÅ¨Î£®Ïùò Ïàò

In [28]:
x_value = list()
y_value = list()
for i in range(40) :
  x_value.append(actor_count.most_common(40)[i][0])
  y_value.append(actor_count.most_common(40)[i][1])

df_actor_count = pd.DataFrame(data={'actor':x_value, 'count':y_value})
df_actor_count.head(10)

               actor  count
0    Christopher_Lee    115
1         John_Wayne    112
2        Jackie_Chan    103
3   G√©rard_Depardieu    103
4      Michael_Caine    102
5     Robert_De_Niro    100
6   Samuel_L_Jackson     97
7  Donald_Sutherland     92
8       Danny_Glover     86
9      Harvey_Keitel     85

In [29]:
x_value = list()
y_value = list()
for i in range(40) :
  x_value.append(crew_count.most_common(40)[i][0])
  y_value.append(crew_count.most_common(40)[i][1])

df_crew_count = pd.DataFrame(data={'crew':x_value, 'count':y_value})
df_crew_count.head(10)

              crew  count
0   Cedric_Gibbons    189
1      Avy_Kaufman    132
2     Roger_Corman    127
3      Max_Steiner    122
4  Ennio_Morricone    116
5  Darryl_F_Zanuck    116
6  Charlie_Chaplin    115
7       Luc_Besson    108
8    Werner_Herzog    104
9     Hal_B_Wallis    102

In [30]:
credits.head(3)

                                                crew  ...  number_of_named_crews
0  John_Lasseter Joss_Whedon Andrew_Stanton Joel_...  ...                      4
1  Larry_J_Franco Jonathan_Hensleigh James_Horner...  ...                      4
2  Howard_Deutch Mark_Steven_Johnson Mark_Steven_...  ...                      4

[3 rows x 5 columns]

In [31]:
merged_df = pd.merge(credits, keywords, how='inner', on='id')

### links : dataframeÎÅºÎ¶¨ Ïó∞Í≤∞Ìï¥Ï£ºÎäî idÎ•º Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ

In [32]:
links.columns = ['movieId', 'imdbId', 'id']
links = links.drop_duplicates()
links.isnull().sum()

movieId      0
imdbId       0
id         219
dtype: int64

In [33]:
merged_df = pd.merge(merged_df, links, how='inner', on='id')
merged_df.head(3)

                                                crew     id  ... movieId  imdbId
0  John_Lasseter Joss_Whedon Andrew_Stanton Joel_...    862  ...       1  114709
1  Larry_J_Franco Jonathan_Hensleigh James_Horner...   8844  ...       2  113497
2  Howard_Deutch Mark_Steven_Johnson Mark_Steven_...  15602  ...       3  113228

[3 rows x 8 columns]

### movies_metadata : ÏòÅÌôîÏóê ÎåÄÌïú Ï†ïÎ≥¥Î•º Îã¥Í≥†ÏûàÎäî dataframe

In [34]:
movies_metadata.duplicated().sum()

13

In [35]:
movies_metadata = movies_metadata.drop_duplicates()
print(movies_metadata.shape)
movies_metadata.head(2)

(45453, 24)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [36]:
print(movies_metadata.revenue.mean())
print(movies_metadata.revenue.median())
movies_metadata.status.unique()

11212544.046889784
0.0

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [37]:
movies_metadata.isnull().sum()

adult                        0
belongs_to_collection    40959
budget                       0
genres                       0
homepage                 37673
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25045
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [38]:
def toint(s) :
  try :
    n = int(s)
    return n
  except :
    print(s)
    return s
movies_metadata.budget.apply(toint)

/ff9qCepilowshEtG2GYWwzt2bs4.jpg
/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
/zaSf5OG7V8X8gqFvly88zDdRm46.jpg

0        30000000
1        65000000
2               0
3        16000000
4               0
           ...
45461           0
45462           0
45463           0
45464           0
45465           0
Name: budget, Length: 45453, dtype: object

In [39]:
# Î≥∏Ïù∏Ïùò columns ÏúÑÏπòÍ∞Ä ÏïÑÎãå Í≥≥Ïóê Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäî dataÎì§ drop
movies_metadata = movies_metadata.drop(index=movies_metadata[movies_metadata.budget == '/ff9qCepilowshEtG2GYWwzt2bs4.jpg'].index)
movies_metadata = movies_metadata.drop(index=movies_metadata[movies_metadata.budget == '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg'].index)
movies_metadata = movies_metadata.drop(index=movies_metadata[movies_metadata.budget == '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg'].index)
print(movies_metadata.shape)
movies_metadata.id = movies_metadata.id.astype(int)

(45450, 24)

In [40]:
# nan Í∞íÏùÑ 0ÏúºÎ°ú ÏπòÌôò(ÏóÜÎã§Í≥† Í∞ÄÏ†ïÌïúÎã§)
movies_metadata.poster_path = movies_metadata.poster_path.fillna(0)

def set_poster(s) :
  if s == 0 :
    return 0
  else :
    return 1
  return 0
movies_metadata.poster_path = movies_metadata.poster_path.apply(set_poster)
movies_metadata.columns = ['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count']
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [41]:
print(movies_metadata.adult.unique())
print(movies_metadata.status.unique())
print(movies_metadata.video.unique())

['False' 'True']
['Released' nan 'Rumored' 'Post Production' 'In Production' 'Planned'
 'Canceled']
[False True nan]

In [42]:
# FalseÍ∞Ä ÎåÄÎ∂ÄÎ∂ÑÏù¥Í≥†, TrueÎäî Í∑πÏÜåÏàò(ÎåÄÎûµ 0.02%)Ïù¥ÎØÄÎ°ú ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú ÏùòÎØ∏Î•º ÎùÑÏßÄÏïäÎäîÎã§.(Ïú†ÏùòÎØ∏ÌïòÏßÄÏïäÎã§.) -> drop
Counter(movies_metadata.adult)

Counter({'False': 45441, 'True': 9})

In [43]:
# belongs_to_collection Ïª¨ÎüºÏóê ÎπàÏπ∏(nan)Í∞íÏù¥ ÎßéÍ∏∞ ÎïåÎ¨∏Ïóê Ïö∞Î¶¨Í∞Ä ÏòàÏ∏°ÌïòÍ≥†Ïûê ÌïòÎäî Î∞îÏóê ÎèÑÏõÄÏù¥ ÎêòÏßÄ ÏïäÎäîÎã§. -> drop
movies_metadata.shape, movies_metadata.belongs_to_collection.isnull().sum()

((45450, 24), 40959)

In [44]:
# dicÌòïÏãùÏúºÎ°ú Îêú ÎÇ¥Ïö©ÏùÑ nameÏª¨ÎüºÎßå ÎπºÏÑú listÎ°ú Ï†ÄÏû•
movies_metadata['genres'] = movies_metadata.genres.apply(set_list_to_string, idx='name', to=0)
movies_metadata['number_of_popular_genres'] = movies_metadata['genres'].apply(len)

In [45]:
from collections import Counter

genre_count = Counter([name for names_per_film in movies_metadata.genres.values for name in names_per_film])
most_popular_genres = [entry[0] for entry in genre_count.most_common(40)]

movies_metadata['genres'] = movies_metadata['genres'].apply(listToString)

In [46]:
print(movies_metadata.shape)
movies_metadata = movies_metadata.drop(movies_metadata[movies_metadata['production_companies'].isnull()==True].index)
print(movies_metadata.shape)

(45450, 25)
(45447, 25)

In [47]:
# dicÌòïÏãùÏúºÎ°ú Îêú ÎÇ¥Ïö©ÏùÑ nameÏª¨ÎüºÎßå ÎπºÏÑú listÎ°ú Ï†ÄÏû•
movies_metadata['production_companies'] = movies_metadata.production_companies.apply(set_list_to_string, idx='name', to=0)
movies_metadata['number_of_production_companies'] = movies_metadata['production_companies'].apply(len)

# Í∞ÄÏû• ÎßéÏù¥ ÎÇòÏò® genres 40Î™ÖÏùÑ most_popular_genresÎùºÍ≥† Í∞ÄÏ†ï
companies_count = Counter([name for names_per_film in movies_metadata.production_companies.values for name in names_per_film])
most_popular_companies = [entry[0] for entry in companies_count.most_common(40)]

movies_metadata['production_companies'] = movies_metadata['production_companies'].apply(listToString)

In [48]:
# dicÌòïÏãùÏúºÎ°ú Îêú ÎÇ¥Ïö©ÏùÑ nameÏª¨ÎüºÎßå ÎπºÏÑú listÎ°ú Ï†ÄÏû•
movies_metadata['production_countries'] = movies_metadata.production_countries.apply(set_list_to_string, idx='name', to=0)
movies_metadata['number_of_production_countries'] = movies_metadata['production_countries'].apply(len)

# Í∞ÄÏû• ÎßéÏù¥ ÎÇòÏò® genres 40Î™ÖÏùÑ most_popular_genresÎùºÍ≥† Í∞ÄÏ†ï
countries_count = Counter([name for names_per_film in movies_metadata.production_countries.values for name in names_per_film])
most_popular_countries = [entry[0] for entry in countries_count.most_common(40)]

movies_metadata['production_countries'] = movies_metadata['production_countries'].apply(listToString)

movies_metadata = movies_metadata.dropna()

In [49]:
# ÌôàÌéòÏù¥ÏßÄÍ∞Ä Ï°¥Ïû¨ÌïúÎã§Î©¥ 1, ÏóÜÎã§Î©¥ 0ÏúºÎ°ú ÏπòÌôò
def setHomepage(s) :
  if s == 0 :
    return 0
  s = str(s)
  if s[0:4] == 'http' :
    return 1
  return 0
movies_metadata.fillna(0) # homepageÍ∞Ä ÏóÜÎäî Í≤ΩÏö∞ 0
movies_metadata.homepage = movies_metadata.homepage.apply(setHomepage)


# ÏùåÏÑ±Ïñ∏Ïñ¥Í∞Ä Î™áÍ∞ÄÏßÄ ÏûàÎäîÏßÄ ÏπòÌôò
movies_metadata.spoken_languages = movies_metadata.spoken_languages.apply(set_list_to_string, idx='name', to=0)
movies_metadata.spoken_languages = movies_metadata.spoken_languages.apply(len)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [50]:
# Ï∂úÏãúÎêú ÏÉÅÌÉúÏùò ÏòÅÌôîÏóê ÎåÄÌï¥ÏÑú ÌõàÎ†®ÏãúÌÇ¨ ÏòàÏ†ïÏù¥Îã§.
movies_metadata = movies_metadata[ (movies_metadata['status'] == 'Released') | (movies_metadata['status'] == 'Planned') 
                    | (movies_metadata['status'] == 'In Production') | (movies_metadata['status'] == 'Post Production')]
print(movies_metadata.status.unique())

['Released']

### Î¨¥ÏùòÎØ∏Ìïú Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú

In [51]:
movies_metadata = movies_metadata.drop(['adult', 'poster', 'belongs_to_collection', 'imdb_id', 'vote_count', 
                                        'original_language', 'original_title', 'overview', 'tagline'], axis=1)
movies_metadata['id'] = movies_metadata['id'].astype(int)
movies_metadata = movies_metadata.drop( movies_metadata[movies_metadata['runtime'] < 60 ].index)
merged_df = pd.merge(merged_df, movies_metadata, how='inner', on='id')

### ratings : ÏòÅÌôîÏóê ÎåÄÌïú ÌèâÏ†êÏùÑ Îã¥Í≥†ÏûàÎäî dataframe

In [52]:
ratings = ratings.drop_duplicates(ignore_index=True)  # Ï§ëÎ≥µÍ∞í ÏóÜÏùå
ratings = ratings.drop(['userId', 'timestamp'], axis=1)
grouped_rating = (ratings.groupby(by="movieId").mean())['rating'].to_frame()
grouped_rating['rating'] = grouped_rating['rating'].round(1)
grouped_rating = grouped_rating.reset_index()

In [53]:
def transform_rating(n) :
  if n >= 3.5 :
    return True
  return False

grouped_rating['rating'] = grouped_rating['rating'].apply(transform_rating)

In [54]:
merged_df = pd.merge(merged_df, grouped_rating, how='inner', on='movieId')
merged_df.head(3)

                                                crew  ...  rating
0  Martin_Campbell Ian_Fleming Jeffrey_Caine Bruc...  ...   False
1     F_Gary_Gray DJ_Pooh Ice_Cube Frank_Fitzpatrick  ...    True
2  Robert_Rodriguez Quentin_Tarantino Quentin_Tar...  ...   False

[3 rows x 26 columns]

### 1) ÏßÄÏÜçÏ†ÅÏúºÎ°ú Ïó¨Îü¨Î∂ÑÏùò Ìè¨Ìä∏Ìè¥Î¶¨Ïò§ Îç∞Ïù¥ÌÑ∞Î•º Îû≠Í∏ÄÎßÅ ÌïòÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÏù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞Îì§ÏùÑ Îû≠Í∏ÄÎßÅÌïòÏó¨ Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ ÏúÑÌïú ÌÖåÏù¥Î∏î ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î°ú ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- **Îã§Ïùå Ìï®ÏàòÏùò resultÎ•º ÏôÑÏÑ±ÏãúÌÇ§Í≥† Î¶¨ÌÑ¥Í∞íÏùÑ Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [55]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## Îã§Ïùå result Ìï®Ïàò ÏïàÏóê male, female Î≥ÄÏàòÎ•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.(groupby, get_groupÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.)
## sum_male: Age = 20, Gender = "Male" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.
## sum_female: Age = 20, Gender = "Female" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.

df.head()

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44

[5 rows x 6 columns]

In [56]:
df.dtypes

SN            object
Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
dtype: object

In [57]:
def result(df):
    cond = (df.Age==20) & (df.Gender == 'Male')
    sum_male = df[(df.Age==20) & (df.Gender == 'Male')].Price.sum()
    sum_female = df[(df.Age==20) & (df.Gender == 'Female')].Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

### 2) ÏÉàÎ°ú ÌäπÏßïÎì§ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÏù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÌäπÏßï Í≥µÌïôÏùÑ ÏàòÌñâÌï¥ Î≥¥ÏÑ∏Ïöî.
- **(Îã§Ï§ëÏÑ†ÌÉù) purchase_dataÎ•º Îû≠Í∏ÄÎßÅÌïòÏó¨ Îã§Ïùå Ï°∞Í±¥ÏùÑ Í≥ÑÏÇ∞ÌïòÍ≥† Í≤∞Í≥ºÍ∞Ä Ïò¨Î∞îÎ•∏ Ìï≠Î™©ÏùÑ ÏÑ∏Ïöî.**
    1. ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† PriceÎäî 3.101818Ïù¥Îã§.
    2. ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† PriceÎäî 3.021559Ïù¥Îã§.
    3. Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî 178 Ïù¥Îã§.
    4. ÎëêÎ≤àÏß∏Î°ú Îß§Ï∂úÏùÑ ÎßéÏù¥ ÎÇ∏ ÏïÑÏù¥ÌÖú IDÎäî 145Ïù¥Îã§.

In [58]:
### Ïù¥Í≥≥ÏóêÏÑú Ï†úÏ∂úÌèº Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
# Í∑∏Î£πÎ≥Ñ Price ÌèâÍ∑†
df_grouped_by_age = pd.DataFrame(df.groupby('Age').sum('Price').Price)
df_count = df.groupby('Age').count().SN.to_frame()
df_count.columns = ['num']
print("Í∞ÄÏû• ÎÜíÏùÄ ÎÇòÏù¥ : ", df_grouped_by_age.index.max())


df_merge = df_grouped_by_age.merge(df_count, on='Age', how='inner')
df_merge_sum =df_merge[df_merge.index <= 20].num.sum()

print("ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† Price", sum(df_grouped_by_age[df_grouped_by_age.index <= 20 ].Price)/df_merge_sum )

df_merge_sum =df_merge[df_merge.index > 20].num.sum()
print("ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† Price", sum(df_grouped_by_age[20 < df_grouped_by_age.index ].Price)/df_merge_sum )

Í∞ÄÏû• ÎÜíÏùÄ ÎÇòÏù¥ :  45
ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† Price 3.1018181818181816
ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† Price 3.0215587044534415

In [59]:
df_merge.head()

     Price  num
Age
7    32.89    9
8    25.97    8
9    18.27    6
10   31.83    9
11   18.79    7

In [60]:
df_count.head()

     num
Age
7      9
8      8
9      6
10     9
11     7

In [61]:
# ÌåêÎß§Ïàò ÏÉÅÏúÑ Item ID
df_grouped_by_id = pd.DataFrame(df.groupby('Item ID').count().SN)
df_grouped_by_id.sort_values('SN', ascending=False)

         SN
Item ID
178      12
145       9
108       9
82        9
19        8
...      ..
104       1
23        1
180       1
91        1
134       1

[183 rows x 1 columns]

In [62]:
# print("Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî", df_grouped_by_id.sort_values('SN', ascending=False)[:1].SN)

print("Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî", df_grouped_by_id[df_grouped_by_id.SN == df_grouped_by_id.SN.max()].index)

Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî Int64Index([178], dtype='int64', name='Item ID')

In [63]:
# Îß§Ï∂ú ÏÉÅÏúÑ Item IDs
df_grouped_by_id.sort_values('SN', ascending=False).index[1:2]

Int64Index([145], dtype='int64', name='Item ID')

In [64]:
### Ïù¥Í≥≥ÏóêÏÑú Î≥∏Ïù∏ Îç∞Ïù¥ÌÑ∞Î°ú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### 3) Ï°∞Í∏à Î∂ÄÏ°±ÌïòÎçîÎùºÎèÑ ÏµúÏÜåÌïúÏùò Îû≠Í∏ÄÎßÅÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï§ÄÎπÑÌïòÏó¨ Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÏºú Î≥¥ÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥† Í≤∞Í≥ºÎ•º Î¶¨Ìè¨ÌåÖ Ìï©ÎãàÎã§.

In [65]:
final_test = merged_df[merged_df['status'] != 'Released']
train = merged_df[merged_df['status'] == 'Released']
train = train.drop(train[train['vote_average'] == 0].index)

In [66]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(train, train_size=0.8, test_size=0.2, random_state=2)
train, val = train_test_split(train, train_size=0.8, test_size=0.2, random_state=2)

merged_df = merged_df.drop(['id', 'movieId', 'imdbId'], axis=1)

In [67]:
import seaborn as sns
corr = merged_df.corr()
corr['rating']
df_target_corr = corr[['rating']].sort_values('rating', ascending=False)
df_target_corr

                                  rating
rating                          1.000000
vote_average                    0.555270
revenue                         0.248779
runtime                         0.205381
spoken_languages                0.039419
number_of_named_crews           0.033806
number_of_popular_genres        0.031820
number_of_production_countries  0.007134
number_of_named_actors         -0.027180
number_of_production_companies -0.046427
homepage                             NaN

In [68]:
target = 'rating'
features = ['vote_average', 'runtime', 'spoken_languages', 'revenue', 'homepage', 'number_of_named_crews', 'number_of_named_actors']

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

X_test = test[features]
y_test = test[target]

X_train.shape, X_val.shape, X_test.shape

((434, 7), (109, 7), (136, 7))

In [69]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 82 kB 345 kB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [70]:
from sklearn.pipeline import make_pipeline
from category_encoders import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier

pipe = make_pipeline(
    OrdinalEncoder(), 
    SimpleImputer(), 
    RandomForestClassifier(max_depth=7, random_state=10, n_jobs=-1, oob_score=True)
)

pipe.fit(X_train, y_train)
print('ÌõàÎ†® Ï†ïÌôïÎèÑ: ', pipe.score(X_train, y_train))
print('Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ', pipe.score(X_val, y_val))

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

ÌõàÎ†® Ï†ïÌôïÎèÑ:  0.9170506912442397
Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ 0.8532110091743119

In [71]:
from sklearn.metrics import f1_score

y_pred_val = pipe.predict(X_val)
print('Í≤ÄÏ¶ù f1 score: ', f1_score(y_val, y_pred_val))

Í≤ÄÏ¶ù f1 score:  0.7647058823529411

In [72]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
y_pred = pipe.predict(X_val)

print('Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ: ', accuracy_score(y_val, y_pred_val))
print(classification_report(y_pred_val, y_val))

Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ:  0.8532110091743119
              precision    recall  f1-score   support

       False       0.87      0.92      0.89        73
        True       0.81      0.72      0.76        36

    accuracy                           0.85       109
   macro avg       0.84      0.82      0.83       109
weighted avg       0.85      0.85      0.85       109