<a href="https://colab.research.google.com/github/ttogle918/ds-section2-sprint3/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# google ÎìúÎùºÏù¥Î∏åÏóê Î°úÏª¨ ÌååÏùº ÏóÖÎ°úÎìú
from google.colab import files, drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
credits = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/credits.csv")
keywords = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/keywords.csv")
links = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links.csv")
links_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links_small.csv")
movies_metadata = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/movies_metadata.csv")
ratings = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings.csv")
ratings_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings_small.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                cast  ...    id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...   862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  8844

[2 rows x 3 columns]

In [20]:
print(credits.shape)
credits.head(1)

(45476, 3)

                                                cast  ...   id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  862

[1 rows x 3 columns]

In [27]:
len(credits['id'].unique()) # idÎãπ Ìïú rowÍ∞Ä ÏïÑÎãàÎã§!

45432

In [21]:
print(keywords.shape)
keywords.head(1)

(46419, 2)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [22]:
print(links.shape)
links.head(1)

(45843, 3)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [23]:
print(links_small.shape)
links_small.head(1)

(9125, 3)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [24]:
print(movies_metadata.shape)
movies_metadata.head(1)

(45466, 24)

   adult  ... vote_count
0  False  ...     5415.0

[1 rows x 24 columns]

In [25]:
print(ratings.shape)
ratings.head(1)

(26024289, 4)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529

In [26]:
print(ratings_small.shape)
ratings_small.head(1)

(100004, 4)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [66]:
import ast
def getDataFrame(s) :
  # s = str(s)
  if str(s)[0] == '{' :
    df = pd.DataFrame([ast.literal_eval(s)])
    return df.id, df.name
  if str(s)[0] == '[' :
    df = pd.DataFrame(ast.literal_eval(s))
    return df.id, df.name
  return s

getDataFrame(movies_metadata.belongs_to_collection.iloc[0])
getDataFrame(movies_metadata.genres.iloc[0])

(0       16
 1       35
 2    10751
 Name: id, dtype: int64, 0    Animation
 1       Comedy
 2       Family
 Name: name, dtype: object)

In [64]:
# movies_metadata['id'], movies_metadata['name'] = movies_metadata.belongs_to_collection.apply(getDataFrame)
# movies_metadata.head(3)

ValueError: ignored

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# üìù Assignment
---
# Data Wrangling

### 1) ÏßÄÏÜçÏ†ÅÏúºÎ°ú Ïó¨Îü¨Î∂ÑÏùò Ìè¨Ìä∏Ìè¥Î¶¨Ïò§ Îç∞Ïù¥ÌÑ∞Î•º Îû≠Í∏ÄÎßÅ ÌïòÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÏù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞Îì§ÏùÑ Îû≠Í∏ÄÎßÅÌïòÏó¨ Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ ÏúÑÌïú ÌÖåÏù¥Î∏î ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î°ú ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- **Îã§Ïùå Ìï®ÏàòÏùò resultÎ•º ÏôÑÏÑ±ÏãúÌÇ§Í≥† Î¶¨ÌÑ¥Í∞íÏùÑ Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## Îã§Ïùå result Ìï®Ïàò ÏïàÏóê male, female Î≥ÄÏàòÎ•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.(groupby, get_groupÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.)
## sum_male: Age = 20, Gender = "Male" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.
## sum_female: Age = 20, Gender = "Female" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.

df.head()

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44

[5 rows x 6 columns]

In [ ]:
df.dtypes

SN            object
Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
dtype: object

In [ ]:
def result(df):
    cond = (df.Age==20) & (df.Gender == 'Male')
    sum_male = df[(df.Age==20) & (df.Gender == 'Male')].Price.sum()
    sum_female = df[(df.Age==20) & (df.Gender == 'Female')].Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Î≥∏Ïù∏ Îç∞Ïù¥ÌÑ∞Î°ú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ### 
import pandas as pd
df = pd.read_csv("", sep=",",index_col=0)

FileNotFoundError: ignored

### 2) ÏÉàÎ°ú ÌäπÏßïÎì§ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÏù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÌäπÏßï Í≥µÌïôÏùÑ ÏàòÌñâÌï¥ Î≥¥ÏÑ∏Ïöî.
- **(Îã§Ï§ëÏÑ†ÌÉù) purchase_dataÎ•º Îû≠Í∏ÄÎßÅÌïòÏó¨ Îã§Ïùå Ï°∞Í±¥ÏùÑ Í≥ÑÏÇ∞ÌïòÍ≥† Í≤∞Í≥ºÍ∞Ä Ïò¨Î∞îÎ•∏ Ìï≠Î™©ÏùÑ ÏÑ∏Ïöî.**
    1. ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† PriceÎäî 3.101818Ïù¥Îã§.
    2. ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† PriceÎäî 3.021559Ïù¥Îã§.
    3. Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî 178 Ïù¥Îã§.
    4. ÎëêÎ≤àÏß∏Î°ú Îß§Ï∂úÏùÑ ÎßéÏù¥ ÎÇ∏ ÏïÑÏù¥ÌÖú IDÎäî 145Ïù¥Îã§.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Ï†úÏ∂úÌèº Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
# Í∑∏Î£πÎ≥Ñ Price ÌèâÍ∑†
df_grouped_by_age = pd.DataFrame(df.groupby('Age').sum('Price').Price)
df_count = df.groupby('Age').count().SN.to_frame()
df_count.columns = ['num']
print("Í∞ÄÏû• ÎÜíÏùÄ ÎÇòÏù¥ : ", df_grouped_by_age.index.max())


df_merge = df_grouped_by_age.merge(df_count, on='Age', how='inner')
df_merge_sum =df_merge[df_merge.index <= 20].num.sum()

print("ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† Price", sum(df_grouped_by_age[df_grouped_by_age.index <= 20 ].Price)/df_merge_sum )

df_merge_sum =df_merge[df_merge.index > 20].num.sum()
print("ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† Price", sum(df_grouped_by_age[20 < df_grouped_by_age.index ].Price)/df_merge_sum )

Í∞ÄÏû• ÎÜíÏùÄ ÎÇòÏù¥ :  45
ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† Price 3.1018181818181816
ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† Price 3.0215587044534415

In [ ]:
df_merge.head()

     Price  num
Age
7    32.89    9
8    25.97    8
9    18.27    6
10   31.83    9
11   18.79    7

In [ ]:
df_count.head()

     num
Age
7      9
8      8
9      6
10     9
11     7

In [ ]:
# ÌåêÎß§Ïàò ÏÉÅÏúÑ Item ID
df_grouped_by_id = pd.DataFrame(df.groupby('Item ID').count().SN)
df_grouped_by_id.sort_values('SN', ascending=False)

         SN
Item ID
178      12
145       9
108       9
82        9
19        8
...      ..
104       1
23        1
180       1
91        1
134       1

[183 rows x 1 columns]

In [ ]:
# print("Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî", df_grouped_by_id.sort_values('SN', ascending=False)[:1].SN)

print("Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî", df_grouped_by_id[df_grouped_by_id.SN == df_grouped_by_id.SN.max()].index)

Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî Int64Index([178], dtype='int64', name='Item ID')

In [ ]:
# Îß§Ï∂ú ÏÉÅÏúÑ Item IDs
df_grouped_by_id.sort_values('SN', ascending=False).index[1:2]

Int64Index([145], dtype='int64', name='Item ID')

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Î≥∏Ïù∏ Îç∞Ïù¥ÌÑ∞Î°ú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### 3) Ï°∞Í∏à Î∂ÄÏ°±ÌïòÎçîÎùºÎèÑ ÏµúÏÜåÌïúÏùò Îû≠Í∏ÄÎßÅÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï§ÄÎπÑÌïòÏó¨ Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÏºú Î≥¥ÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥† Í≤∞Í≥ºÎ•º Î¶¨Ìè¨ÌåÖ Ìï©ÎãàÎã§.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###