<a href="https://colab.research.google.com/github/ttogle918/ds-section2-sprint3/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# google ë“œë¼ì´ë¸Œì— ë¡œì»¬ íŒŒì¼ ì—…ë¡œë“œ
from google.colab import files, drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
credits = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/credits.csv")
keywords = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/keywords.csv")
links = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links.csv")
links_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links_small.csv")
movies_metadata = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/movies_metadata.csv")
ratings = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings.csv")
ratings_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings_small.csv")

credits.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                cast  ...    id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...   862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  8844

[2 rows x 3 columns]

In [3]:
import numpy as np
s = str(credits['cast'][0:1])
print(s)
s = s.replace('[', '')
print(s)
s = s.replace(']', '')
print(s)
# list(s).to_numpy()

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
Name: cast, dtype: object
0    {'cast_id': 14, 'character': 'Woody (voice)',...
Name: cast, dtype: object
0    {'cast_id': 14, 'character': 'Woody (voice)',...
Name: cast, dtype: object

In [4]:
import ast
def get_cast_id(s) :
  return pd.DataFrame(list(s))
get_cast_id([{'cast_id': 14, 'character': 'Woody (voice)'}])

   cast_id      character
0       14  Woody (voice)

In [5]:
s = credits[0:1].cast
s = s.replace('[', '')
s = s.replace(']', '')
s = s.replace(' ', '')
s

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
Name: cast, dtype: object

In [6]:
get_cast_id(s)

                                                   0
0  [{'cast_id': 14, 'character': 'Woody (voice)',...

In [8]:
# import ast
# get_cast_id(ast.literal_eval(credits[1:2]['cast']))

In [10]:
# credits['cast_id'], credits['cast_character'], credits['cast_id'], credits['cast_id'] = credits.cast.apply(get_cast)

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment
---
# Data Wrangling

### 1) ì§€ì†ì ìœ¼ë¡œ ì—¬ëŸ¬ë¶„ì˜ í¬íŠ¸í´ë¦¬ì˜¤ ë°ì´í„°ë¥¼ ë­ê¸€ë§ í•˜ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ë“¤ì„ ë­ê¸€ë§í•˜ì—¬ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•œ í…Œì´ë¸” í˜•íƒœì˜ ë°ì´í„°ë¡œ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- **ë‹¤ìŒ í•¨ìˆ˜ì˜ resultë¥¼ ì™„ì„±ì‹œí‚¤ê³  ë¦¬í„´ê°’ì„ ì œì¶œí•˜ì„¸ìš”.**

In [11]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## ë‹¤ìŒ result í•¨ìˆ˜ ì•ˆì— male, female ë³€ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.(groupby, get_groupì„ ì‚¬ìš©í•˜ì„¸ìš”.)
## sum_male: Age = 20, Gender = "Male" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.
## sum_female: Age = 20, Gender = "Female" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.

df.head()

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44

[5 rows x 6 columns]

In [12]:
df.dtypes

SN            object
Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
dtype: object

In [13]:
def result(df):
    cond = (df.Age==20) & (df.Gender == 'Male')
    sum_male = df[(df.Age==20) & (df.Gender == 'Male')].Price.sum()
    sum_female = df[(df.Age==20) & (df.Gender == 'Female')].Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

In [14]:
### ì´ê³³ì—ì„œ ë³¸ì¸ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ### 
import pandas as pd
df = pd.read_csv("", sep=",",index_col=0)

FileNotFoundError: ignored

### 2) ìƒˆë¡œ íŠ¹ì§•ë“¤ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ì—ì„œ íŠ¹ì§• ê³µí•™ì„ ìˆ˜í–‰í•´ ë³´ì„¸ìš”.
- **(ë‹¤ì¤‘ì„ íƒ) purchase_dataë¥¼ ë­ê¸€ë§í•˜ì—¬ ë‹¤ìŒ ì¡°ê±´ì„ ê³„ì‚°í•˜ê³  ê²°ê³¼ê°€ ì˜¬ë°”ë¥¸ í•­ëª©ì„ ì„¸ìš”.**
    1. ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  PriceëŠ” 3.101818ì´ë‹¤.
    2. ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  PriceëŠ” 3.021559ì´ë‹¤.
    3. ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” 178 ì´ë‹¤.
    4. ë‘ë²ˆì§¸ë¡œ ë§¤ì¶œì„ ë§ì´ ë‚¸ ì•„ì´í…œ IDëŠ” 145ì´ë‹¤.

In [15]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
# ê·¸ë£¹ë³„ Price í‰ê· 
df_grouped_by_age = pd.DataFrame(df.groupby('Age').sum('Price').Price)
df_count = df.groupby('Age').count().SN.to_frame()
df_count.columns = ['num']
print("ê°€ì¥ ë†’ì€ ë‚˜ì´ : ", df_grouped_by_age.index.max())


df_merge = df_grouped_by_age.merge(df_count, on='Age', how='inner')
df_merge_sum =df_merge[df_merge.index <= 20].num.sum()

print("ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  Price", sum(df_grouped_by_age[df_grouped_by_age.index <= 20 ].Price)/df_merge_sum )

df_merge_sum =df_merge[df_merge.index > 20].num.sum()
print("ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  Price", sum(df_grouped_by_age[20 < df_grouped_by_age.index ].Price)/df_merge_sum )

ê°€ì¥ ë†’ì€ ë‚˜ì´ :  45
ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  Price 3.1018181818181816
ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  Price 3.0215587044534415

In [16]:
df_merge.head()

     Price  num
Age
7    32.89    9
8    25.97    8
9    18.27    6
10   31.83    9
11   18.79    7

In [17]:
df_count.head()

     num
Age
7      9
8      8
9      6
10     9
11     7

In [18]:
# íŒë§¤ìˆ˜ ìƒìœ„ Item ID
df_grouped_by_id = pd.DataFrame(df.groupby('Item ID').count().SN)
df_grouped_by_id.sort_values('SN', ascending=False)

         SN
Item ID
178      12
145       9
108       9
82        9
19        8
...      ..
104       1
23        1
180       1
91        1
134       1

[183 rows x 1 columns]

In [19]:
# print("ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ”", df_grouped_by_id.sort_values('SN', ascending=False)[:1].SN)

print("ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ”", df_grouped_by_id[df_grouped_by_id.SN == df_grouped_by_id.SN.max()].index)

ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” Int64Index([178], dtype='int64', name='Item ID')

In [20]:
# ë§¤ì¶œ ìƒìœ„ Item IDs
df_grouped_by_id.sort_values('SN', ascending=False).index[1:2]

Int64Index([145], dtype='int64', name='Item ID')

In [21]:
### ì´ê³³ì—ì„œ ë³¸ì¸ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

## ğŸ”¥ ë„ì „ê³¼ì œ

### 3) ì¡°ê¸ˆ ë¶€ì¡±í•˜ë”ë¼ë„ ìµœì†Œí•œì˜ ë­ê¸€ë§ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì¤€ë¹„í•˜ì—¬ ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµì‹œì¼œ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ë“¤ì´ ì„ íƒí•œ ë°ì´í„°ë¥¼ ê°€ì§€ê³  ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  ê²°ê³¼ë¥¼ ë¦¬í¬íŒ… í•©ë‹ˆë‹¤.

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###