<a href="https://colab.research.google.com/github/ttogle918/ds-section2-sprint3/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# google 드라이브에 로컬 파일 업로드
from google.colab import files, drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
credits = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/credits.csv")
keywords = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/keywords.csv")
links = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links.csv")
links_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/links_small.csv")
movies_metadata = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/movies_metadata.csv")
ratings = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings.csv")
ratings_small = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ratings_small.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                cast  ...    id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...   862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  8844

[2 rows x 3 columns]

In [20]:
print(credits.shape)
credits.head(1)

(45476, 3)

                                                cast  ...   id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  862

[1 rows x 3 columns]

In [27]:
len(credits['id'].unique()) # id당 한 row가 아니다!

45432

In [21]:
print(keywords.shape)
keywords.head(1)

(46419, 2)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [22]:
print(links.shape)
links.head(1)

(45843, 3)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [23]:
print(links_small.shape)
links_small.head(1)

(9125, 3)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [24]:
print(movies_metadata.shape)
movies_metadata.head(1)

(45466, 24)

   adult  ... vote_count
0  False  ...     5415.0

[1 rows x 24 columns]

In [25]:
print(ratings.shape)
ratings.head(1)

(26024289, 4)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529

In [26]:
print(ratings_small.shape)
ratings_small.head(1)

(100004, 4)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [66]:
import ast
def getDataFrame(s) :
  # s = str(s)
  if str(s)[0] == '{' :
    df = pd.DataFrame([ast.literal_eval(s)])
    return df.id, df.name
  if str(s)[0] == '[' :
    df = pd.DataFrame(ast.literal_eval(s))
    return df.id, df.name
  return s

getDataFrame(movies_metadata.belongs_to_collection.iloc[0])
getDataFrame(movies_metadata.genres.iloc[0])

(0       16
 1       35
 2    10751
 Name: id, dtype: int64, 0    Animation
 1       Comedy
 2       Family
 Name: name, dtype: object)

In [64]:
# movies_metadata['id'], movies_metadata['name'] = movies_metadata.belongs_to_collection.apply(getDataFrame)
# movies_metadata.head(3)

ValueError: ignored

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# 📝 Assignment
---
# Data Wrangling

### 1) 지속적으로 여러분의 포트폴리오 데이터를 랭글링 하세요
- 여러분이 선택한 데이터들을 랭글링하여 모델을 만들기 위한 테이블 형태의 데이터로 만들어 보세요.
- **다음 함수의 result를 완성시키고 리턴값을 제출하세요.**

In [ ]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## 다음 result 함수 안에 male, female 변수를 계산하세요.(groupby, get_group을 사용하세요.)
## sum_male: Age = 20, Gender = "Male" 그룹의 Price를 합하세요.
## sum_female: Age = 20, Gender = "Female" 그룹의 Price를 합하세요.

df.head()

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44

[5 rows x 6 columns]

In [ ]:
df.dtypes

SN            object
Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
dtype: object

In [ ]:
def result(df):
    cond = (df.Age==20) & (df.Gender == 'Male')
    sum_male = df[(df.Age==20) & (df.Gender == 'Male')].Price.sum()
    sum_female = df[(df.Age==20) & (df.Gender == 'Female')].Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

In [ ]:
### 이곳에서 본인 데이터로 과제를 진행해 주세요 ### 
import pandas as pd
df = pd.read_csv("", sep=",",index_col=0)

FileNotFoundError: ignored

### 2) 새로 특징들을 만들어 보세요
- 여러분이 선택한 데이터에서 특징 공학을 수행해 보세요.
- **(다중선택) purchase_data를 랭글링하여 다음 조건을 계산하고 결과가 올바른 항목을 세요.**
    1. 나이 1-20세 그룹(20세 포함)의 평균 Price는 3.101818이다.
    2. 나이 21-50세 그룹의 평균 Price는 3.021559이다.
    3. 가장 많이 구입한 아이템의 ID는 178 이다.
    4. 두번째로 매출을 많이 낸 아이템 ID는 145이다.

In [ ]:
### 이곳에서 제출폼 과제를 진행해 주세요 ###
# 그룹별 Price 평균
df_grouped_by_age = pd.DataFrame(df.groupby('Age').sum('Price').Price)
df_count = df.groupby('Age').count().SN.to_frame()
df_count.columns = ['num']
print("가장 높은 나이 : ", df_grouped_by_age.index.max())


df_merge = df_grouped_by_age.merge(df_count, on='Age', how='inner')
df_merge_sum =df_merge[df_merge.index <= 20].num.sum()

print("나이 1-20세 그룹(20세 포함)의 평균 Price", sum(df_grouped_by_age[df_grouped_by_age.index <= 20 ].Price)/df_merge_sum )

df_merge_sum =df_merge[df_merge.index > 20].num.sum()
print("나이 21-50세 그룹의 평균 Price", sum(df_grouped_by_age[20 < df_grouped_by_age.index ].Price)/df_merge_sum )

가장 높은 나이 :  45
나이 1-20세 그룹(20세 포함)의 평균 Price 3.1018181818181816
나이 21-50세 그룹의 평균 Price 3.0215587044534415

In [ ]:
df_merge.head()

     Price  num
Age
7    32.89    9
8    25.97    8
9    18.27    6
10   31.83    9
11   18.79    7

In [ ]:
df_count.head()

     num
Age
7      9
8      8
9      6
10     9
11     7

In [ ]:
# 판매수 상위 Item ID
df_grouped_by_id = pd.DataFrame(df.groupby('Item ID').count().SN)
df_grouped_by_id.sort_values('SN', ascending=False)

         SN
Item ID
178      12
145       9
108       9
82        9
19        8
...      ..
104       1
23        1
180       1
91        1
134       1

[183 rows x 1 columns]

In [ ]:
# print("가장 많이 구입한 아이템의 ID는", df_grouped_by_id.sort_values('SN', ascending=False)[:1].SN)

print("가장 많이 구입한 아이템의 ID는", df_grouped_by_id[df_grouped_by_id.SN == df_grouped_by_id.SN.max()].index)

가장 많이 구입한 아이템의 ID는 Int64Index([178], dtype='int64', name='Item ID')

In [ ]:
# 매출 상위 Item IDs
df_grouped_by_id.sort_values('SN', ascending=False).index[1:2]

Int64Index([145], dtype='int64', name='Item ID')

In [ ]:
### 이곳에서 본인 데이터로 과제를 진행해 주세요 ###

## 🔥 도전과제

### 3) 조금 부족하더라도 최소한의 랭글링으로 데이터를 준비하여 간단한 모델을 학습시켜 보세요
- 여러분들이 선택한 데이터를 가지고 간단한 모델을 학습하고 결과를 리포팅 합니다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ###