<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

## 1-1

In [398]:
import pandas as pd

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv',header=None)

df.columns = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)'
              ]
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [138]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡            object
ì˜ì—…ì´ìµ           object
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

## 1-2

In [399]:
# intí•¨ìˆ˜
def toInt(string):
    return int(string.replace(',',''))

df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(toInt)
df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(toInt)

df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

In [404]:
df['ì˜ì—…ì´ìµë¥ 2'] = (df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡'] * 100)
df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµë¥ 2'].round(decimals=3)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.057
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.929

[5 rows x 26 columns]

## 1-3

In [400]:
# ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
#ë³€ìˆ˜ ì´ë¦„ì€ df2, feature ì´ë¦„ì€ PDRë¡œ, df2['PDR']ì„ í†µí•´ ~ ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

df2 = pd.DataFrame({"êµ¬ë¶„":["18ë…„", "19ë…„"],
                    "ì¢…ê°€":[101500, 93800],
                    "ë°œí–‰ì£¼ì‹ìˆ˜":[137292497, 137292497],
                    "ì‹œê°€ì´ì•¡": [13935188445500, 12878036218600],
                    "ì‹œì¥ì ìœ ìœ¨": [62.0, 63.5],
                    "PDR":["~", "~"],
                    "TAM": [15000000000000, 15000000000000]
                    })
                    
df2['PDR'] = df2['ì‹œê°€ì´ì•¡']/(df2['TAM']*df2['ì‹œì¥ì ìœ ìœ¨']/100) * 100
df2['PDR'] = df2['PDR'].round(decimals=3)

df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨      PDR             TAM
0  18ë…„  101500  137292497  13935188445500   62.0  149.841  15000000000000
1  19ë…„   93800  137292497  12878036218600   63.5  135.202  15000000000000

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [383]:
# x = int(''.join(i for i in x 
#                if i is not ',')
# )

df_temp = df.copy()
df_temp.iloc[0, 1] = df_temp.iloc[0, 1][0:2] + df_temp.iloc[0, 1][3:6]
df_temp.iloc[0, 1] = pd.to_numeric(df_temp.iloc[0, 1])
df_temp

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6   12578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [401]:
df['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'] = df['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'].apply(toInt)
df['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ'] = df['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ'].apply(toInt)
df['ë‹¹ê¸°ìˆœì´ìµ'] = df['ë‹¹ê¸°ìˆœì´ìµ'].apply(toInt)
df['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)'] = df['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)'].apply(toInt)
df['ìì‚°ì´ê³„'] = df['ìì‚°ì´ê³„'].apply(toInt)
df['ë¶€ì±„ì´ê³„'] = df['ë¶€ì±„ì´ê³„'].apply(toInt)
df['ìë³¸ì´ê³„'] = df['ìë³¸ì´ê³„'].apply(toInt)
df['ìë³¸ì´ê³„(ì§€ë°°)'] = df['ìë³¸ì´ê³„(ì§€ë°°)'].apply(toInt)
df['ìë³¸ê¸ˆ'] = df['ìë³¸ê¸ˆ'].apply(toInt)
df['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„'] = df['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„'].apply(toInt)
df['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„'] = df['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„'].apply(toInt)
df['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„'] = df['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„'].apply(toInt)
df['EPS(ì›)'] = df['EPS(ì›)'].apply(toInt)

df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
dtype: object

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [405]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1 #
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2 
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3 #
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2 #
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [406]:
grade(df, df2)

5

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [407]:
df.iloc[1,7] = str(df.iloc[1,7])
df.iloc[1, 7] = df.iloc[1, 7].replace("13", 'Na')

df.iloc[1, 7] 

x = pd.to_numeric(df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'], errors='coerce').mean()
df.iloc[1, 7] = x

df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.057
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.929

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [408]:
mean = df.iloc[1:, 1].sum() / 4
# meanì„ êµ¬í•˜ê³  meanë³€ìˆ˜ì— ì €ì¥

grades = []
for row in df['ë§¤ì¶œì•¡']:
    if row >= (mean*1.1):
            grades.append('S')
    elif row >= (mean*1.05):
            grades.append('A')
    elif row >= (mean*0.95):
            grades.append('B')
    elif row >= (mean*0.90):
            grades.append('C')
    else:
            grades.append('D');
df['ë“±ê¸‰'] = grades

# S: 13798.4 ì´ìƒ
# A: 13171.2
# B: 11916.8
# C: 11289.6
# D: 11289.6 ì´í•˜

df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›) PER(ë°°)  ì˜ì—…ì´ìµë¥ 2  ë“±ê¸‰
0   19/6  12578  3991        3991      4452  ...  803.22    2351  13.77  31.730   B
1   19/9  13222  3825        3825      4503  ...  836.86    2337  13.87  28.929   A
2  19/12  11982  2523        2523      1794  ...  850.82     873  12.42  21.057   B
3   20/3  11784  3150        3150      4156  ...  823.16    2134   9.71  26.731   C
4   20/6  13188  3947        3947      4020  ...  837.40    2135  10.46  29.929   A

[5 rows x 27 columns]