<a href="https://colab.research.google.com/github/ttogle918/ds-section1-sprint1/blob/master/n114-basic-derivative/n114a-basic-derivative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# 📝 Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [2]:
import seaborn as sns
import numpy as np
# import matplotlib.pyplot as plt
import pandas as pd
np.random.seed(42)

df_iris = sns.load_dataset('iris')

res1 = df_iris.shape[0] / df_iris.shape[1]
res1

30.0

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [3]:
# df_iris['x'] = df_iris[['sepal_length']]
df_iris = pd.DataFrame(data=df_iris['sepal_length'], columns = ['sepal_length']) # or drop 이용
df_iris.columns=['x']
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

## 3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 **derivative_one**이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [4]:
def num_one(x):
  return 5*4*(x**4) + 9*3*(x**2) + 2*np.e*(x)
# print(num_one(4))
def numerical_derivative(x):
  delta_x = 1e-5
  return (num_one(x + delta_x) - num_one(x)) / delta_x

df_iris['derivative_one'] = df_iris['x'].apply(num_one)
res2 = df_iris['derivative_one'].sum()
res2

4077643.108045289

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 **derivative_two** 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [6]:
from scipy.misc import derivative

def f(x):
  return 4*(x**5) + 9*(x**3) + np.e*(x**2) -7

# 이곳에 답안을 작성해주시기 바랍니다
df_iris['derivative_two'] = derivative(f, df_iris['x'], dx=1e-7)  # np.e와 1e는 다른가?
res3 = df_iris['derivative_two'].sum()
res3

4077643.1205767947

## 4. 미분 연습

>아래 함수들의 도함수를 작성해주세요.

 $f(x) = e^x$

In [ ]:
from scipy.misc import derivative
def e_prime(x):
    return np.exp(x) # 이 곳에 답안을 작성하세요
# print(derivative(e_prime, 2, dx=1e-7))
e_prime(5)

148.4131591025766

$f(x) = lnx$

In [ ]:
def ln_prime(x):
    return 1/x  # 이 곳에 답안을 작성하세요 np.exp(x)
# x0 = -1
# x1 = 0
# print(sp.optimize.minimize(In_prime, x0)) # 오차를 줄이기 위한 최적화 함수를 구하기 위한 방법? 비용
# result = sp.optimize.minimize(In_prime, x1)

ln_prime(5)

0.2

$f(x) = Sin(2x)$

In [ ]:
def sine_prime(x):
  return 2*np.cos(2*x)
sine_prime(5)

-1.6781430581529049

$f(x) = (2x^2 + 8x)^2$

In [ ]:
def f_prime(x):
    return 2*(2*(x**2) + 8*x) * (4*x + 8)
f_prime(5)

5040

## 5. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

---------------------------------------------
이전 기수 분 내용 copy
```
from sympy import Symbol, solve
p1 = Symbol('p1')
p2 = Symbol('p2')

k2 = 100
x2 = 3
p1 = 2*(np.exp(1)*p1 - x2) * np.exp(1)
x1 = 10
p2 = 2*(np.exp(1)*x1 - p2) * (-1)+(k2/2)
p1 = solve(p1)
p2 = solve(p2)
print(p1, p2)
#과제 : 1.104
```

In [ ]:
# 이 곳에 답안을 작성하세요
def f(x):
  return (np.e*p1 - p2)**2 + 100/2*p2
def gradient_descent(X, y, lr = 0.05, epoch = 10):
    
    p1, p2 = 0.33, 0.48 # 임의 선택한 파라미터 p1, p2
    N = len(X) # 샘플 갯수
    
    k2 = 100
    
    for _ in range(epoch):            
        f =  y - (p1*X + p2)
    
        # p1, p2 업데이트
        p1 -= lr * (-2 * X.dot(f).sum() / N)
        p2 -= lr * (-2 * f.sum() / N)        
        
    print('p1: '+str(p1))
    print('p2: '+str(p2))

In [ ]:
X = np.array([1, 2, 3])
y = np.array([(10*np.e-3)**2+10, (10*np.e-3)**2+10, (10*np.e-3)**2+10])

In [ ]:
gradient_descent(X, y, epoch=10)

p1: 194.08585664816331
p2: 153.42373930800935

In [ ]:
gradient_descent(X,3, epoch=100)

p1: 0.2931455011155574
p2: 2.33361137220958

In [ ]:
gradient_descent(X, y, epoch = 100)

p1: 65.38701058039157
p2: 446.1686559407076

In [ ]:
gradient_descent(X, y, epoch = 1000)

p1: 0.001227340562224064
p2: 594.8059101519383

## 🔥 도전과제

### 다음 함수를 미분하세요. 이후에 x = 3일 때의 결과를 `challenge`에 저장하세요.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return 1 / (1 + np.exp(-x))

In [ ]:
value = sig_prime(3)
print(value)
derivative(sig_prime, 3)

0.9525741268224334

0.05060835603001307