<a href="https://colab.research.google.com/github/ttogle918/ds-section2-sprint2/blob/main/n224-model-selection/n224a-model-selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 2 / NOTE 4*

# üìù Assignment
---

In [1]:
# !pip install category_encoders

In [2]:
# !pip uninstall pandas_profiling
# !pip install pandas_profiling
# !pip show pandas_profiling

In [3]:
# google ÎìúÎùºÏù¥Î∏åÏóê Î°úÏª¨ ÌååÏùº ÏóÖÎ°úÎìú
from google.colab import files, drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
import pandas as pd
target = 'vacc_h1n1_f'
train = pd.merge(pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/train.csv"),
                 pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/train_labels.csv")[target],
                 left_index=True, right_index=True)  # train data + labels

test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/test.csv")
submission = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/submission.csv")

In [25]:
train = train.dropna(axis=0)
train.head(5)

    h1n1_concern  h1n1_knowledge  ...      state  vacc_h1n1_f
3            2.0             2.0  ...  LOUISIANA            0
4            1.0             2.0  ...    ALABAMA            1
5            3.0             1.0  ...    MONTANA            0
14           1.0             1.0  ...     NEVADA            0
15           2.0             1.0  ...  LOUISIANA            0

[5 rows x 39 columns]

In [27]:
import seaborn as sns
corr = train.corr()
corr['vacc_h1n1_f']
df_target_corr = corr[['vacc_h1n1_f']].sort_values('vacc_h1n1_f', ascending=False)
df_target_corr

                             vacc_h1n1_f
vacc_h1n1_f                     1.000000
doctor_recc_h1n1                0.372046
health_worker                   0.246737
doctor_recc_seasonal            0.232959
h1n1_knowledge                  0.197683
h1n1_concern                    0.181707
health_insurance                0.123059
education_comp                  0.113243
behavioral_wash_hands           0.101450
chronic_med_condition           0.100412
behavioral_touch_face           0.081291
child_under_6_months            0.067931
behavioral_face_mask            0.061242
raceeth4_i                      0.056919
sex_i                           0.048376
behavioral_avoidance            0.041897
behavioral_antiviral_meds       0.037593
behavioral_outside_home         0.028197
behavioral_large_gatherings     0.024396
household_children              0.017894
n_people_r                      0.007867
rent_own_r                     -0.002964
hhs_region                     -0.004585
n_adult_r                      -0.009313
census_region                  -0.026423
marital                        -0.064614
inc_pov                        -0.087642

In [31]:
target = 'vacc_h1n1_f'

In [32]:
def engineer(df):
    """ÌäπÏÑ±ÏùÑ ÏóîÏßÄÎãàÏñ¥ÎßÅ ÌïòÎäî Ìï®ÏàòÏûÖÎãàÎã§."""
    
    # ÎÜíÏùÄ Ïπ¥ÎîîÎÑêÎ¶¨Ìã∞Î•º Í∞ÄÏßÄÎäî ÌäπÏÑ±ÏùÑ Ï†úÍ±∞Ìï©ÎãàÎã§.
    selected_cols = df.select_dtypes(include=['number', 'object'])
    colnames = selected_cols.columns.tolist()
    labels = selected_cols.nunique()
    
    selected_features = labels[labels <= 30].index.tolist()
    df = df[selected_features]
    
    # ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.
    # ÌñâÎèô // 1 : Ïòà(Ï¢ãÏùå), 0:ÏïÑÎãàÏò§(ÎÇòÏÅ®)
    behaviorals = [col for col in df.columns if 'behavioral' in col] 
    df['behaviorals'] = df[behaviorals].sum(axis=1)
    
    dels = [col for col in df.columns if ('behavioral_' in col )]
    df.drop(columns=dels, inplace=True)

    # seas : Í≥ÑÏ†àÎèÖÍ∞ê Î∞±Ïã†
    dels = [col for col in df.columns if ('employment' in col or 'seas' in col)]
    df.drop(columns=dels, inplace=True)
    
    return df


train = engineer(train)
test = engineer(test)

train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

train.head(2)

   h1n1_concern  h1n1_knowledge  ...  hhs_region  vacc_h1n1_f
0           2.0             2.0  ...           6            0
1           1.0             2.0  ...           4            1

[2 rows x 24 columns]

In [30]:
import seaborn as sns
corr = train.corr()
corr['vacc_h1n1_f']
df_target_corr = corr[['vacc_h1n1_f']].sort_values('vacc_h1n1_f', ascending=False)
df_target_corr

                       vacc_h1n1_f
vacc_h1n1_f               1.000000
doctor_recc_h1n1          0.372046
health_worker             0.246737
h1n1_knowledge            0.197683
h1n1_concern              0.181707
health_insurance          0.123059
education_comp            0.113243
chronic_med_condition     0.100412
child_under_6_months      0.067931
raceeth4_i                0.056919
sex_i                     0.048376
household_children        0.017894
n_people_r                0.007867
rent_own_r               -0.002964
hhs_region               -0.004585
n_adult_r                -0.009313
census_region            -0.026423
marital                  -0.064614
inc_pov                  -0.087642

In [8]:
from sklearn.model_selection import train_test_split

# train = pd.merge(train, train_labels[target], left_index=True, right_index=True)  # train data + labels
train, val = train_test_split(train, train_size=0.80, test_size=0.20, stratify=train[target], random_state=2) # divide
train.shape, val.shape, test.shape, submission.shape

((7456, 24), (1865, 24), (28104, 23), (28104, 2))

In [9]:
features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
# submission = test[target]
features

Index(['h1n1_concern', 'h1n1_knowledge', 'chronic_med_condition',
       'child_under_6_months', 'health_insurance', 'health_worker',
       'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'agegrp', 'education_comp', 'raceeth4_i',
       'sex_i', 'inc_pov', 'marital', 'rent_own_r', 'census_region',
       'census_msa', 'n_adult_r', 'household_children', 'n_people_r',
       'hhs_region', 'Doctors'],
      dtype='object')

In [10]:
X_train.shape, y_train.shape, X_test.shape, submission.shape

((7456, 23), (7456,), (28104, 23), (28104, 2))

In [11]:
# from pandas_profiling import ProfileReport
# profile = ProfileReport(train, minimal=True).to_notebook_iframe()

# Î™®Îç∏ÏÑ†ÌÉù(Model Selection)

### 1) Ï∫êÍ∏Ä ÎåÄÌöåÎ•º Ïù¥Ïñ¥ÏÑú ÏßÑÌñâÌï©ÎãàÎã§. RandomizedSearchCV Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãùÏùÑ ÏßÑÌñâÌï©ÎãàÎã§.

- [RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)Î•º ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.
- Î∂ÑÎ•òÎ¨∏Ï†úÏóêÏÑú ÎßûÎäî [scoring parameter](https://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values) metricÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.
- [OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html) ÏÇ¨Ïö©ÏùÑ Í∂åÌï©ÎãàÎã§.
- RandomizedSearchCV Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãùÏùÑ ÏßÑÌñâÌïòÍ≥† ÏµúÍ≥† ÏÑ±Îä•ÏùÑ Î≥¥Ïù¥Îäî Î™®Îç∏Î°ú ÏòàÏ∏°ÏùÑ ÏßÑÌñâÌïú ÌõÑ Ï∫êÍ∏ÄÏóê Ï†úÏ∂úÌï©ÎãàÎã§.
- **Ï∫êÍ∏Ä LeaderboardÏóêÏÑú Í∞úÏÑ†Îêú Î≥∏Ïù∏ ScoreÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [12]:
from category_encoders import OrdinalEncoder
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import randint, uniform
from sklearn.model_selection import RandomizedSearchCV

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [13]:
pipe = make_pipeline(
    OrdinalEncoder(), 
    SimpleImputer(),
    RandomForestClassifier(random_state=42)
)

dists = {
    # 'ordinal_encoder__smoothing': [2.,20.,50.,60.,100.,500.,1000.], # intÎ°ú ÎÑ£ÏúºÎ©¥ error(bug)
    # 'ordinal_encoder__min_samples_leaf': randint(1, 10),     
    'simpleimputer__strategy': ['mean', 'median', 'most_frequent'], 
    'randomforestclassifier__n_estimators': randint(50, 500), 
    'randomforestclassifier__max_depth': [5, 10, 15, 20, None], 
    'randomforestclassifier__max_features': uniform(0, 1) # max_features
}

clf = RandomizedSearchCV(
    pipe, 
    param_distributions=dists, 
    n_iter=50, 
    cv=3,
    scoring='neg_mean_absolute_error',
    verbose=1,
    random_state = 42,
    n_jobs=-1
)

clf.fit(X_train, y_train);
print('ÏµúÏ†Å ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞: ', clf.best_params_)
print('MAE: ', -clf.best_score_)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:  4.3min finished

ÏµúÏ†Å ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞:  {'randomforestclassifier__max_depth': 10, 'randomforestclassifier__max_features': 0.18182496720710062, 'randomforestclassifier__n_estimators': 326, 'simpleimputer__strategy': 'mean'}
MAE:  0.1817313643189251

In [14]:
# rank_test_score: ÌÖåÏä§Ìä∏ ÏàúÏúÑ
# mean_score_time: ÏòàÏ∏°Ïóê Í±∏Î¶¨Îäî ÏãúÍ∞Ñ
pd.DataFrame(clf.cv_results_).sort_values(by='rank_test_score').T

                                                                                            4  ...                                                  9
mean_fit_time                                                                         2.23888  ...                                            1.75107
std_fit_time                                                                        0.0101522  ...                                          0.0155284
mean_score_time                                                                        0.2076  ...                                           0.223035
std_score_time                                                                     0.00125869  ...                                          0.0171165
param_randomforestclassifier__max_depth                                                    10  ...                                                  5
param_randomforestclassifier__max_features                                           0.181825  ...                                          0.0650516
param_randomforestclassifier__n_estimators                                                326  ...                                                437
param_simpleimputer__strategy                                                            mean  ...                                               mean
params                                      {'randomforestclassifier__max_depth': 10, 'ran...  ...  {'randomforestclassifier__max_depth': 5, 'rand...
split0_test_score                                                                   -0.192679  ...                                          -0.281577
split1_test_score                                                                   -0.173441  ...                                          -0.270825
split2_test_score                                                                   -0.179074  ...                                           -0.27002
mean_test_score                                                                     -0.181731  ...                                          -0.274141
std_test_score                                                                      0.0080756  ...                                         0.00526844
rank_test_score                                                                             1  ...                                                 50

[15 rows x 50 columns]

In [15]:
# Í∏∞Ïßï ÏÑ±Îä•Ïù¥ Ï¢ãÏùÄ Î™®Îç∏ Î∂àÎü¨Ïò§Í∏∞|
pipe = clf.best_estimator_

In [16]:
from sklearn.metrics import mean_absolute_error
y_pred_train = pipe.predict(X_train)
y_pred_val = pipe.predict(X_val)
y_pred = pipe.predict(X_test)

In [17]:
submission

          Id  vacc_h1n1_f
0          0            0
1          1            1
2          2            1
3          3            1
4          4            0
...      ...          ...
28099  28099            0
28100  28100            1
28101  28101            1
28102  28102            0
28103  28103            0

[28104 rows x 2 columns]

In [18]:
from sklearn.metrics import f1_score
print('ÌõàÎ†® f1 score: ', f1_score(y_train, y_pred_train, average='binary'))
print('Í≤ÄÏ¶ù f1 score: ', f1_score(y_val, y_pred_val, average='binary'))
mae = mean_absolute_error(submission['vacc_h1n1_f'], y_pred)
print(f'ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ MAE: {mae}')
print('test f1 score: ', f1_score(submission['vacc_h1n1_f'], y_pred, average='binary'))

ÌõàÎ†® f1 score:  0.7651700680272109
Í≤ÄÏ¶ù f1 score:  0.6240352811466372
ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ MAE: 0.49832764019356673
test f1 score:  0.21597715949168672

In [19]:
print('ÏµúÏ†Å ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞: ', clf.best_params_)
print('MAE: ', -clf.best_score_)

ÏµúÏ†Å ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞:  {'randomforestclassifier__max_depth': 10, 'randomforestclassifier__max_features': 0.18182496720710062, 'randomforestclassifier__n_estimators': 326, 'simpleimputer__strategy': 'mean'}
MAE:  0.1817313643189251

In [22]:
submission['vacc_h1n1_f'] = y_pred
submission.to_csv('n224_zena_choi.csv', index=False)

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú


### 2) [`GridSearchCV`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãùÏùÑ ÏßÑÌñâÌï©ÎãàÎã§.
- Î™®Îç∏ ÏÑ±Îä•ÏùÑ ÎÜíÏù¥Í∏∞ ÏúÑÌï¥ Í∞ÄÎä•Ìïú ÏãúÎèÑÎ•º Îã§ Ìï¥Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ ÏÑ±Îä•Ïóê Í∞ÄÏû• ÌÅ∞ ÏòÅÌñ•ÏùÑ Ï§Ä ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞Ïóê ÎåÄÌï¥ÏÑú Î∂ÑÏÑùÌïòÍ≥† ÏÑ§Î™ÖÌï¥ Î≥¥ÏÑ∏Ïöî.

In [21]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###