<a href="https://colab.research.google.com/github/ttogle918/ds-section1-sprint3/blob/master/n131-vectors-and-matrices/n131a-vectors-matrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# üìù Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Îã§Ïùå Ìè¨Ìä∏Ìè¥Î¶¨Ïò§Ïùò ÏÇ¨ÎûåÎ≥Ñ Ï¥ùÌï©ÏùÑ Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.
- Í≤∞Í≥ºÎäî `res`Ïóê listÌòïÌÉúÎ°ú Ï†ÄÏû•Ìï©ÎãàÎã§.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

pandas Ïù¥Ïö©

In [1]:
# Ïù¥Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§
import numpy as np
import pandas as pd

df = pd.DataFrame({'People' :['X', 'X', 'X', 'X', 'Y', 'Y', 'Y', 'Y', 'Z', 'Z', 'Z', 'Z'],
                   'Name' :['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B', 'C', 'D'],
                   'Price' :[100, 500, 250, 50, 100, 500, 250, 50, 100, 500, 250, 50],
                   'Amount' : [35, 10, 25, 40, np.nan, 50, 50, np.nan, np.nan, np.nan, 100, np.nan]
                  })
df = df.fillna(0)
df['multiple'] = df['Price'] * df['Amount']
df

   People Name  Price  Amount  multiple
0       X    A    100    35.0    3500.0
1       X    B    500    10.0    5000.0
2       X    C    250    25.0    6250.0
3       X    D     50    40.0    2000.0
4       Y    A    100     0.0       0.0
5       Y    B    500    50.0   25000.0
6       Y    C    250    50.0   12500.0
7       Y    D     50     0.0       0.0
8       Z    A    100     0.0       0.0
9       Z    B    500     0.0       0.0
10      Z    C    250   100.0   25000.0
11      Z    D     50     0.0       0.0

In [2]:
amount = df['multiple'].groupby(df['People'])

In [3]:
res = list(amount.sum())
res

[16750.0, 37500.0, 25000.0]

## 2. Norms

Ï£ºÏñ¥ÏßÑ Í∞í $x_0, x_1, ... x_n$ Î•º elementÎ°ú Í∞ñÎäî Î≤°ÌÑ∞ $v$Ïóê ÎåÄÌïòÏó¨ 

$L_1$ Norm Ïùò Ï†ïÏùòÎäî Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm Ïùò Ï†ïÏùòÎäî Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

Ïù¥Î•º Ï∞∏Ï°∞ÌïòÏó¨ Ï£ºÏñ¥ÏßÑ Î≤°ÌÑ∞Ïóê ÎåÄÌï¥ÏÑú $L_2$ Norm Ïùò Í∞íÍ≥º $L_1$ Norm Ïùò Í∞íÏùò Ï∞®Ïù¥(**Ï†àÎåÄÍ∞í**)Î•º Í≥ÑÏÇ∞ÌïòÎäî Ìï®ÏàòÎ•º ÎßåÎìúÏÑ∏Ïöî.

In [4]:
def L1Norm(v) :
  v = abs(v)
  return sum(v)

def L2Norm(v) :
  v = np.square(v)
  return np.sqrt(sum(v))

def NormDif(v): # v = np.array()
  return abs ( L1Norm(v) - L2Norm(v) )

In [5]:
NormDif(np.array([0, 1, 2, -2, -3]))

3.7573593128807152

## 3. Errors



- 2Í∞úÏùò Î≤°ÌÑ∞ÏôÄ, errorÏùò ÌÉÄÏûÖÏùÑ ÏûÖÎ†•Î∞õÏïÑ Í∑∏ Í≤∞Í≥ºÍ∞íÏùÑ Í≥ÑÏÇ∞ÌïòÎäî Ìï®ÏàòÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

- Ïó¨Í∏∞ÏÑú errorÏùò ÌÉÄÏûÖÏùÄ `MSE`, `MAE` 2Í∞ÄÏßÄ ÏûÖÎãàÎã§.

MSE : Mean Squared Error (ÌèâÍ∑† Ï†úÍ≥± Ïò§Ï∞®)
*  Ïò§Ï∞®Ïùò Ï†úÍ≥±Ïóê ÎåÄÌïú ÌèâÍ∑†ÏùÑ Ï∑®Ìïú Í∞í
*  ÌÜµÍ≥ÑÏ†Å Ï∂îÏ†ïÏùò Ï†ïÌôïÏÑ±Ïóê ÎåÄÌïú ÏßàÏ†ÅÏù∏ Ï≤ôÎèÑ
*  ÌöåÍ∑ÄÏóêÏÑú ÏûêÏ£º ÏÇ¨Ïö©ÎêòÎäî ÏÜêÏã§ Ìï®Ïàò 
```
np.mean( np.square(y-pred) )
```
RMSE : ÌèâÍ∑† Ï†úÍ≥±Í∑º Ïò§Ï∞® ( MSE ÏïûÏóê sqrt Ï∂îÍ∞Ä )

MAE : Mean Absolute Error (ÌèâÍ∑† Ï†àÎåÄ Ïò§Ï∞®)
*  AE : Ï†àÎåÄ Ïò§Ï∞® ( Ïã§Ï†ú Í∞íÍ≥º ÏòàÏ∏° Í∞íÍ≥ºÏùò Ï∞®Ïù¥ )
*  Ï†àÎåÄÍ∞íÏùÑ Íµ¨Ìï®
*  ÌöåÍ∑ÄÏßÄÌëúÎ°úÏç® ÏÇ¨Ïö©ÎêúÎã§.
```
np.mean( np.abs(y-pred) )
```

In [6]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
# x : y_test
# y : y_pred
def error(x, y, type) :
  if type == 'MSE' :
    return np.mean( np.square(x - y) )
    # return mean_squared_error(x, y)
  elif type == 'MAE' :
    return np.mean( np.abs(x - y) )
    # return mean_absolute_error(x, y)
  return None

In [7]:
error(np.array([0, 1, 1, 2, 4]), np.array([1, 1, 2, 3, 2]), 'MSE')

1.4

In [8]:
error(np.array([0, 1, 1, 2, 4]), np.array([1, 1, 2, 3, 2]), 'MAE')

1.0

# 4. Inverse

- Ï£ºÏñ¥ÏßÑ matrixÏóê ÎåÄÌï¥ÏÑú inverse matrixÎ•º Í≥ÑÏÇ∞ÌïòÏó¨ Î∞òÌôòÌïòÎäî Ìï®ÏàòÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî. 
- Ïù¥ Îïå inverse Í≥ÑÏÇ∞Ïù¥ Î∂àÍ∞ÄÎä• Ìïú Í≤ΩÏö∞ `-1` ÏùÑ Î∞òÌôòÌï©ÎãàÎã§.

In [9]:
def myInverse(m) : # m = np.array()
  if np.linalg.det(m) == 0 :
    return -1 # 'not exist inverse matrix'
  return np.linalg.inv(m)

In [10]:
print( np.array(range(4)).reshape(2,2))
print( myInverse(np.array(range(4)).reshape(2,2)) )
print( myInverse(np.array( [[0, 2], [2, 0]]) ))

[[0 1]
 [2 3]]
[[-1.5  0.5]
 [ 1.   0. ]]
[[0.  0.5]
 [0.5 0. ]]

# üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

Îã§Ïùå ÎßÅÌÅ¨Ïùò ÎÇ¥Ïö©ÏùÑ Ï∞∏Ï°∞ÌïòÏó¨ **Cramer's rule**ÏùÑ ÏÇ¨Ïö©Ìï¥ $x_1$, $x_2$, $x_3$Ïùò Í∞íÏùÑ Íµ¨ÌïòÏÑ∏Ïöî.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x_3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

```
x1 = A
```

x1Ïóê AÎ•º ÎåÄÏûÖÌñàÏùÑ Îïå(np.array ÌòïÏãù), Ïôú AÍπåÏßÄ Î∞îÎÄåÎäîÏßÄ? copyÌòïÏãùÏù¥ ÏïÑÎãàÎùº deep copy... ÏõêÎ≥∏ Ï£ºÏÜåÍ∞íÏùÑ Í≥µÏú†ÌïòÎäî Í∞ôÎã§.

```
x1 = A.copy()
```
Ïù¥Î†áÍ≤å Ìï¥Ïïº shallow copyÍ∞Ä ÎêòÏñ¥ Í∞íÎßå Î≥µÏÇ¨ÎêúÎã§. ( Îã§Î•∏ Î©îÎ™®Î¶¨ Í≥µÍ∞ÑÏóê ÏÉÅÏ£ºÌï¥ÏûàÎã§. )

In [30]:
A = np.array( [[1, 0, 2],
                [-3, 4, 6],
                [-1, -2, 3]] )

value = np.array([6, 30, 8])

det_A = np.linalg.det(A)

In [31]:
x1 = A.copy()
x1[:,0] = value
det_x1 = np.linalg.det(x1)

x1

array([[ 6,  0,  2],
       [30,  4,  6],
       [ 8, -2,  3]])

In [34]:
x2 = A.copy()
x2[:,1] = value
det_x2 = np.linalg.det(x2)
x2

array([[ 1,  6,  2],
       [-3, 30,  6],
       [-1,  8,  3]])

In [35]:
x3 = A.copy()
x3[:,2] = value
det_x3 = np.linalg.det(x3)
x3

array([[ 1,  0,  6],
       [-3,  4, 30],
       [-1, -2,  8]])

In [36]:
print('x1 :', det_x1 / det_A )
print('x2 :', det_x2 / det_A )
print('x3 :', det_x3 / det_A )

x1 : -0.9090909090909088
x2 : 1.6363636363636358
x3 : 3.4545454545454533