<a href="https://colab.research.google.com/github/ttogle918/ds-section1-sprint2/blob/master/n122-chi-square-test/n122a-chi-square-test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# ğŸ“ Assignment

# ì¹´ì´ì œê³±ê²€ì •


## 1. ê³µê³µë°ì´í„° ì¡°ì‘ ì—°ìŠµ. 

êµ­ê°€ í†µê³„ í¬í„¸ì—ì„œ ì•„ë˜ ì´ë¯¸ì§€ë¥¼ ì°¸ì¡°í•˜ì—¬

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ë…„ 8ì›”**ì— í•´ë‹¹í•˜ëŠ” ê·œëª¨ë³„ ë¯¸ë¶„ì–‘í˜„í™© ì— ëŒ€í•œ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ì„¸ìš”. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mì´í•˜`, `60~85m`, `85mì´ˆê³¼`ì˜ 3ê°œ ê·œëª¨ì™€ (column)
- `ì„œìš¸`, `ëŒ€ì „`, `ëŒ€êµ¬`, `ë¶€ì‚°` 4ê°œì˜ ì§€ì—­ì„ í¬í•¨í•´ì•¼í•©ë‹ˆë‹¤. (row)
- `ë¯¼ê°„ë¶€ë¬¸`ë§Œ í¬í•¨í•©ë‹ˆë‹¤
- ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš°ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ì„¸ìš”.

ì´í›„ ë°ì´í„°ì…‹ì„ colabìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. ì´ë•Œ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [1]:
# google ë“œë¼ì´ë¸Œì— ë¡œì»¬ íŒŒì¼ ì—…ë¡œë“œ
from google.colab import files, drive
# uploaded = files.upload()
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['ì„œìš¸', 'ëŒ€ì „', 'ëŒ€êµ¬', 'ë¶€ì‚°']

In [3]:
import pandas as pd
import numpy as np
from scipy import stats
import io
# df = pd.read_csv(io.BytesIO(uploaded["ê·œëª¨ë³„_ë¯¸ë¶„ì–‘í˜„í™©_20210917135130.csv"]), encoding = "CP949", engine='python')
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/code_states/ê·œëª¨ë³„_ë¯¸ë¶„ì–‘í˜„í™©_20210917135130.csv", encoding = "CP949", engine='python')
df

   ì‹œë„(1)  ë¶€ë¬¸(1) 2020. 08 2020. 08.1 2020. 08.2
0  ì‹œë„(1)  ë¶€ë¬¸(1)    60ã¡ì´í•˜     60âˆ¼85ã¡      85ã¡ì´ˆê³¼
1     ì„œìš¸   ë¯¼ê°„ë¶€ë¬¸       54          2          0
2     ë¶€ì‚°   ë¯¼ê°„ë¶€ë¬¸      577        735        142
3     ëŒ€êµ¬   ë¯¼ê°„ë¶€ë¬¸      143       1437         44
4     ëŒ€ì „   ë¯¼ê°„ë¶€ë¬¸      782          1          0

In [4]:
df.fillna(0)

   ì‹œë„(1)  ë¶€ë¬¸(1) 2020. 08 2020. 08.1 2020. 08.2
0  ì‹œë„(1)  ë¶€ë¬¸(1)    60ã¡ì´í•˜     60âˆ¼85ã¡      85ã¡ì´ˆê³¼
1     ì„œìš¸   ë¯¼ê°„ë¶€ë¬¸       54          2          0
2     ë¶€ì‚°   ë¯¼ê°„ë¶€ë¬¸      577        735        142
3     ëŒ€êµ¬   ë¯¼ê°„ë¶€ë¬¸      143       1437         44
4     ëŒ€ì „   ë¯¼ê°„ë¶€ë¬¸      782          1          0

In [5]:
df = df.rename(
    columns = {
        'ì‹œë„(1)' : 'ì‹œë„',
        'ë¶€ë¬¸(1)' : 'ë¶€ë¬¸'
    }
)
df = df.drop('ë¶€ë¬¸', axis = 1)

df.columns = ['ì§€ì—­'] + col
df = df[1:]
df = df.set_index(['ì§€ì—­'])
df.columns.name = 'êµ¬ë¶„'
df = df.astype(int)
df

êµ¬ë¶„  ~60m2  60~85m2  85m2~
ì§€ì—­
ì„œìš¸     54        2      0
ë¶€ì‚°    577      735    142
ëŒ€êµ¬    143     1437     44
ëŒ€ì „    782        1      0

## 2. ì§€ì—­ì— ëŒ€í•´ì„œ one-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi1`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) ë§Œì•½ **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
ì„ ë¹„êµ í•˜ê²Œ ë  ê²ƒì…ë‹ˆë‹¤.

In [6]:
from scipy.stats import chisquare
def convert(string) :
  value = value.apply(int)
  return value.sum()

df['sum'] = df.sum(axis=1)
chi1 = chisquare(df['sum'], axis=None)
chi1

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

p-valueê°€ 0.0ìœ¼ë¡œ ë‚˜ì˜¬ ë•Œ : ì ˆì‚­ëœ ê²ƒ(0ì— ê°€ê¹Œìš´ ìˆ˜, pythonì—ì„œ ì§€ì •í•´ ë†“ì€ ìˆ˜ë¥¼ ë„˜ê±°ì•„ë©´(ë„ˆë¬´ ì‘ìœ¼ë©´) ìë¥¸ë‹¤)

p-valueê°€ 0.05ë³´ë‹¤ í¬ë©´ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•  ìˆ˜ ì—†ë‹¤. -> 1:1

p-valueê°€ 0.05ë³´ë‹¤ ì‘ìœ¼ë©´ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•œë‹¤.
-> ê° ì§€ì—­ì˜ ë¯¸ë¶„ì–‘í˜„í™©ì€ ê¸°ëŒ€ì™€ ë™ì¼í•˜ì§€ ì•Šë‹¤.(ê°™ì§€ ì•Šë‹¤.)

ì‹ ë¢°ë„ê°€ 95%ë¼ëŠ” ì „ì œ
p-value < 0.05, ê·€ë¬´ê°€ì„¤ ê¸°ê° -> ëŒ€ë¦½ê°€ì„¤ì„ ì±„íƒ

p-value > 0.05, ê·€ë¬´ê°€ì„¤ ê¸°ê°í•  ìˆ˜ ì—†ìŒ

## 3. ì§€ì—­ê³¼ ê·œëª¨ì— ëŒ€í•´ì„œ two-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi2`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ì„œìš¸|52|2|0|
|ëŒ€ì „|772|1|0|
|ëŒ€êµ¬|113|1061|42|
|ë¶€ì‚°|590|665|142|

ì— ëŒ€í•´ì„œ ê²€ì •í•´ì•¼ í•  ê²ë‹ˆë‹¤.

+ í•´ë‹¹ ë°ì´í„°ëŠ” ì´ë¯¸ crosstabì´ ë˜ì–´ìˆë‹¤.

-> ì•„ë‹ ë•ŒëŠ” í•´ë‹¹ ì½”ë“œ ì´ìš©
```
obs = pd.crosstab(small_food['income'], small_food['pay_meal_out'])
```

In [7]:
from scipy.stats import chi2_contingency

chi2 = chi2_contingency(df)
chi2

(2064.576731417199,
 0.0,
 9,
 array([[  22.24559612,   31.09522594,    2.65917794,   56.        ],
        [ 577.59101353,  807.36533061,   69.04365586, 1454.        ],
        [ 645.12228746,  901.76155221,   77.11616033, 1624.        ],
        [ 311.04110288,  434.77789124,   37.18100587,  783.        ]]))

### 4. 2ë²ˆì— ëŒ€í•´ì„œ NumPy ë¥¼ ì‚¬ìš©í•˜ì—¬ (Scipyë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³ ) $\chi^2$ test ì‹œí–‰ í›„ 2ë²ˆì˜ ê²°ê³¼ì™€ ë¹„êµí•´ë³´ì„¸ìš”. 

- `obs`, `exp`, `chi`ë¼ëŠ” ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ì•¼í•©ë‹ˆë‹¤.

In [8]:
df = df.drop('sum', axis=1)
df

êµ¬ë¶„  ~60m2  60~85m2  85m2~
ì§€ì—­
ì„œìš¸     54        2      0
ë¶€ì‚°    577      735    142
ëŒ€êµ¬    143     1437     44
ëŒ€ì „    782        1      0

In [47]:
sum_obs = np.sum(df)
sum_obs
sum_obs.dtypes

dtype('int64')

In [58]:
df_area_sum = []
df_area_sum = df.sum(axis=1).to_frame()
df_area_sum.astype(int)

df_size_sum = df.sum(axis = 0).to_frame()
df_size_sum.astype(int)
df_size_sum

            0
êµ¬ë¶„
~60m2    1556
60~85m2  2175
85m2~     186

In [59]:
exp = []
for i in df_area_sum.index :
  t_list = []
  for j in df_size_sum.index :
    # print(df_area_sum.loc[i] * df_size_sum.loc[j])
    t_list.append( int(df_area_sum.loc[i]) * int(df_size_sum.loc[j]) / sum_obs)
    
  exp.append(t_list)
exp

[[0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64], [0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64], [0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64], [0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64, 0         NaN
  60~85m2   NaN
  85m2~     NaN
  ~60m2     NaN
  dtype: float64]]

## ğŸ”¥ ë„ì „ ê³¼ì œ

ì•„ë˜ ì„¸ê°€ì§€ë¥¼ ë‹¤í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Function

4ë²ˆì—ì„œ ì‚¬ìš©í•œ one sample chisquare testë¥¼ í•¨ìˆ˜ì˜ í˜•íƒœë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    return None# ë‚´ìš©ì„ ì±„ìš°ì„¸ìš”.

myChisq(v1) 

# chisquareê°’ê³¼ pvalueë¥¼ ì¶œë ¥í•´ì•¼í•©ë‹ˆë‹¤.

myChisq(v2)

### 2. ANOVA

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ANOVA ì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://partrita.github.io/posts/ANOVA-python/>

ë‹¤ìŒ `4ê°œ ê·¸ë£¹ì— ëŒ€í•´ì„œ í‰ê· ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€`ì— ëŒ€í•œ ê°€ì„¤ ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤